---
permalink: "/ui/ui-elements/view/keyboard-dismiss/index.xml"
tags: "UI/UI Elements/View"
hv_title: "Keyboard: Dismiss on Drag"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}
{% from 'macros/text-field/index.xml.njk' import text_field %}

{% block container %}
  <view scroll="true" keyboard-dismiss-mode="on-drag">
    <view key="field" style="item">
      {{ text_field("field", {"auto-focus":"true", "placeholder":"Scroll!"}) }}
    </view>
    {% for i in range(1, 21) %}
      <view key="{{ i }}" style="item{% if loop.last %} item-last{% endif %}">
        <text style="item-label">Item {{ i }}</text>
      </view>
    {% endfor %}
  </view>
{% endblock %}
