<view style="form-group">
  <text style="label">Multi-line</text>
  <text-field
    style="text-field-multiline"
    multiline="true"
    name="multiline-text-field"
    placeholder="Placeholder"
    placeholderTextColor="#8D9494"
    selectionColor="#4778FF"
    selectionHandleColor="#4778FF"
    cursorColor="#4778FF"
    value=""
  />
</view>
