<style
  id="text-field-multiline"
  borderRadius="6"
  borderWidth="1"
  borderColor="#E1E1E1"
  flex="1"
  fontSize="16"
  fontWeight="normal"
  height="120"
  padding="8"
  textAlignVertical="top"
>
  <modifier pressed="true">
  <style borderColor="#4778FF"/>
  </modifier>
  <modifier focused="true">
  <style borderColor="#4778FF"/>
  </modifier>
</style>
