{% from 'macros/description/index.xml.njk' import description %}

{{ description('Flex Horizontal Justify End') }}
<view style="flex-container flex-horizontal flex-justify-end">
  <view style="flex-child"/>
  <view style="flex-child"/>
  <view style="flex-child"/>
</view>
