---
permalink: "/ui/ui-elements/web-view/html/index.xml"
tags: "UI/UI Elements/Web View"
hv_title: "HTML"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{% block styles %}
  <style id="container" flexShrink="1" flex="1" />
{% endblock %}

{% block container %}
  <view style="container">
    <web-view
      html="
            &lt;div style=&quot;text-align: center&quot;&gt;
            &lt;h1 style=&quot;font-size: 72px;&quot;&gt;Hello world!&lt;/h1&gt;
            &lt;/div&gt;
           "
    />
  </view>
{% endblock %}
