---
permalink: "index-reloaded.xml"
hv_button_behavior: "none"
hv_title: "Hyperview"
hv_list_tag: "root"
---

<doc xmlns="https://hyperview.org/hyperview">
  <navigator id="stack-navigator" type="stack">
    {# invoked from /navigation/behaviors/actions/reload/index.xml #}
    <behavior
      trigger="on-event"
      event-name="reload-root-navigation"
      action="reload"
      href="/hyperview/public/index-reloaded.xml"
    />
    <nav-route id="tabs">
      <navigator id="tabs-navigator" type="tab">
        <nav-route id="tab-ui" href="/hyperview/public/ui/index.xml"/>
        <nav-route id="tab-navigation" href="/hyperview/public/navigation/index.xml"/>
        <nav-route id="tab-behaviors" href="/hyperview/public/behaviors/index.xml"/>
        <nav-route id="tab-advanced" href="/hyperview/public/advanced/index.xml" selected="true"/>
      </navigator>
    </nav-route>
  </navigator>
</doc>
