---
permalink: "/behaviors/basic/replace-inner/index.xml"
tags: "Behaviors/Basic/Actions"
hv_title: "Replace Inner"
hv_button_behavior: "back"
---
{% extends 'templates/scrollview.xml.njk' %}

{% block content %}
  {% include './_once/index.xml.njk' %}
  {% include './_nested/index.xml.njk' %}
{% endblock %}
