{% macro tabbar_bottom(target) %}
  <navigation:tabbar
    xmlns:navigation="https://instawork.com/hyperview-navigation"
    navigation:navigator="{{ target }}"
  >
    <select-single style="tabbar-bottom">
      {% if caller %}
        {{ caller() }}
      {% endif %}
    </select-single>
  </navigation:tabbar>
{% endmacro %}
