---
permalink: "/behaviors/advanced/copy-to-clipboard/index.xml"
tags: "Behaviors/Advanced"
hv_title: "Copy To Clipboard"
hv_button_behavior: "back"
---
{% extends 'templates/scrollview.xml.njk' %}
{% from 'macros/description/index.xml.njk' import description %}
{% from 'macros/button/index.xml.njk' import button %}

{% block content %}
  {{ description('Tapping the button below will copy the value "Hello World" to the clipboard.') }}

  {% call button('Copy to clipboard') -%}
    <behavior
      action="copy-to-clipboard"
      trigger="press"
      copy-to-clipboard-value="Hello World"
    />
  {%- endcall %}
{% endblock %}
