---
permalink: "/case-studies/index.xml"
hv_title: "Case Studies"
hv_tab_id: "tab-case-studies"
hv_button_behavior: "none"
hv_list_tag: "case_studies"
---
{% extends 'templates/tab.xml.njk' %}

{% block tab_content %}
  {% include "templates/list.xml.njk" %}
{% endblock %}
