---
permalink: "/case-studies/index.xml"
hv_title: "Case Studies"
hv_tab_id: "tab-case-studies"
hv_button_behavior: "none"
---
{% extends 'tab.xml.njk' %}

{% block tab_content %}
  <text style="description">This is the content for Case Studies tab.</text>
{% endblock %}
