---
permalink: "/ui/ui-elements/list/basic/index.xml"
tags: "UI/UI Elements/List"
hv_title: "Basic List"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{% block container %}
  <list>
    {% for i in range(1, 21) %}
      <item key="{{ i }}" style="item{% if loop.last %} item-last{% endif %}">
        <text style="item-label">List {{ i }}</text>
      </item>
    {% endfor %}
  </list>
{% endblock %}
