---
permalink: "/navigation/navigator/bottom-tab/index.xml"
tags: "Navigation/Navigator"
hv_title: "Tab"
hv_button_behavior: "back"
---
{# Example tab navigator inside a stack navigator #}
<doc xmlns="https://hyperview.org/hyperview">
  <navigator id="top-stack" type="stack">
    <nav-route id="tabs-route">
      <navigator id="simple-tab-navigator" type="tab">
        <nav-route id="tab-1" href="/hyperview/public/navigation/navigator/bottom-tab/tab-1.xml"/>
        <nav-route id="tab-2" href="/hyperview/public/navigation/navigator/bottom-tab/tab-2.xml"/>
      </navigator>
    </nav-route>
  </navigator>
</doc>
