---
permalink: "/navigation/navigator/bottom-tab/tab-1.xml"
hv_title: "Bottom Tab - Tab 1"
hv_button_behavior: "back"
---
{% from 'macros/description/index.xml.njk' import description %}
{% extends 'templates/base.xml.njk' %}

{% block styles %}
  {% include './_styles.xml.njk' %}
{% endblock %}

{% block body_attrs %}scroll="true"{% endblock %}

{% block body %}
  <view sticky="true">
    {% include 'templates/header.xml.njk' %}
  </view>
  {{ description('This is the content for tab 1. Scroll down to minimize the tab bar.') }}
  <text style="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</text>
  <text style="description">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</text>
  <text style="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</text>
  {% include './tab-bar.xml.njk' %}
{% endblock %}
