---
permalink: "/behaviors/basic/press/index.xml"
tags: "Behaviors/Basic/Triggers"
hv_title: "Press"
hv_button_behavior: "back"
---
{% extends 'templates/scrollview.xml.njk' %}

{% block content %}
  {% include './_button/index.xml.njk' %}
  {% include './_link/index.xml.njk' %}
{% endblock %}
