---
permalink: "/ui/ui-elements/web-view/content-insets/basic.xml"
hv_title: "Without Insets"
hv_button_behavior: "back"
---
{% from 'macros/web-view-content-insets/index.xml.njk' import content_insets_web_view %}
{% extends 'templates/base.xml.njk' %}

{% block styles %}
  <style id="container" flexShrink="1" flex="1" />
{% endblock %}

{% block body %}
  {% include 'templates/header.xml.njk' %}
  <view style="container">
    {{ content_insets_web_view(false) }}
  </view>
  {% include './tab-bar.xml.njk' %}
{% endblock %}
