---
permalink: "/ui/ui-elements/web-view/content-insets/index.xml"
tags: "UI/UI Elements/Web View"
hv_title: "Content Insets"
hv_button_behavior: "back"
---
<doc xmlns="https://hyperview.org/hyperview">
  <navigator id="web-view-content-insets-stack" type="stack">
    <nav-route id="web-view-content-insets-tabs-route">
      <navigator id="web-view-content-insets-navigator" type="tab">
        <nav-route
          id="web-view-basic-route"
          href="/hyperview/public/ui/ui-elements/web-view/content-insets/basic.xml"
        />
        <nav-route
          id="web-view-insets-route"
          href="/hyperview/public/ui/ui-elements/web-view/content-insets/insets.xml"
        />
      </navigator>
    </nav-route>
  </navigator>
</doc>
