<text style="section">Switch</text>
<view style="form-group">
  <text style="label" hide="true" id="id_s_loading">Loading...</text>
  <switch id="id_s" name="s" value="off"/>
  <text style="link" action="set-value" new-value="on" target="id_s">
    Turn on
  </text>
  <text style="link" action="set-value" new-value="off" target="id_s">
    Turn off
  </text>
</view>
