{% from 'macros/description/index.xml.njk' import description %}

{{ description('Vertical Scroll') }}
<view scroll="true" style="ScrollContainer ScrollContainer--Vertical">
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
</view>
