<safe-area:safe-area-view
  xmlns:safe-area="https://hyperview.org/safe-area"
  key="header-container"
  safe-area:mode="padding"
  safe-area:insets="[&quot;right&quot;,&quot;top&quot;,&quot;left&quot;]"
>
  <header style="header" key="header">
    {% if hv_button_behavior == 'close' %}
      <view action="close" href="#" style="header-btn">
        {% include 'icons/close.svg' %}
      </view>
    {% elif hv_button_behavior == 'back' %}
      <view action="back" href="#" style="header-btn">
        {% include 'icons/back.svg' %}
      </view>
    {% endif %}
    <text style="header-title">{{ hv_title }}</text>
  </header>
</safe-area:safe-area-view>
