{# Included as a loading screen in other templates #}
<screen id="loading-screen-no-header">
  <styles>
    {% include 'templates/styles.xml.njk' %}
  </styles>
  <body style="body" safe-area="true">
    <view style="loading">
      <text style="loading-text">Loading…</text>
      <spinner/>
    </view>
  </body>
</screen>
