{% include 'macros/button/styles.xml.njk' %}
{% include 'macros/about/styles.xml.njk' %}
{% include 'macros/description/styles.xml.njk' %}
{% include 'macros/link/styles.xml.njk' %}
{% include 'macros/container/styles.xml.njk' %}
{% include 'macros/contact/styles.xml.njk' %}
{% include 'macros/tabbar-top/styles.xml.njk' %}
{% include 'macros/tabbar-top-tab/styles.xml.njk' %}
{% include 'macros/tabbar-bottom-tab/styles.xml.njk' %}
{% include 'macros/tabbar-bottom/styles.xml.njk' %}
{% include 'macros/text-field/styles.xml.njk' %}

<style id="flex-1" flex="1" />
<style
  id="header"
  alignItems="center"
  backgroundColor="white"
  borderBottomColor="#eee"
  borderBottomWidth="1"
  flexDirection="row"
  marginBottom="24"
  paddingBottom="16"
  paddingLeft="24"
  paddingRight="24"
/>
<style
  id="header-btn"
  color="blue"
  fontSize="16"
  fontWeight="600"
  paddingRight="16"
/>
<style id="header-title" color="black" fontSize="24" fontWeight="600" />
<style id="body" backgroundColor="white" flex="1" />
<style id="description" fontSize="16" margin="24" />
<style
  id="item"
  alignItems="center"
  backgroundColor="#FFFFFF"
  borderColor="#eee"
  borderBottomWidth="0"
  borderWidth="1"
  flex="1"
  flexDirection="row"
  paddingVertical="12"
  justifyContent="space-between"
  marginHorizontal="24"
  paddingHorizontal="16"
/>
<style id="item-first" borderTopLeftRadius="16" borderTopRightRadius="16" />
<style
  id="item-last"
  borderBottomWidth="1"
  borderBottomLeftRadius="16"
  borderBottomRightRadius="16"
  marginBottom="24"
/>
<style id="item-left" flex="1" flexDirection="row" />
<style id="item-label" fontSize="18" fontWeight="normal" />
<style id="item-chevron" />
<style
  id="button"
  backgroundColor="#63CB76"
  borderRadius="16"
  flex="1"
  flexDirection="row"
  justifyContent="center"
  margin="24"
  padding="24"
/>
<style id="button-label" color="white" fontSize="24" fontWeight="bold" />
<style id="tab-route-content" flex="1" />
<style
  id="back-image"
  alignItems="center"
  flex="0"
  height="10"
  justifyContent="center"
  padding="10"
  width="10"
/>
<style
  id="list-container"
  flex="1"
  flexGrow="1"
/>
<style id="loading-text" fontSize="14" fontWeight="normal" marginBottom="16" color="#999" />
<style id="loading" alignItems="center" flex="1" justifyContent="center" />
<style
  id="link"
  color="#4778FF"
  fontWeight="bold"
  marginTop="8"
  marginRight="16"
/>
<style
  id="container-style"
  borderColor="#e1e1e1"
  borderRadius="16"
  borderWidth="2"
  margin="24"
  padding="24"
/>
<style
  id="container-label"
  color="black"
  fontSize="16"
  fontWeight="normal"
/>
<style
  id="list-header"
  alignItems="center"
  backgroundColor="#eee"
  flex="1"
  flexDirection="row"
  paddingVertical="12"
  marginHorizontal="24"
  paddingHorizontal="16"
/>
<style id="list-header-text" fontSize="18" fontWeight="bold"/>
<style id="links-container" flexDirection="row" flexWrap="wrap" marginLeft="24" marginBottom="24" />
<style
  id="picker-modal"
  backgroundColor="white"
  borderTopColor="#E1E1E1"
  borderTopWidth="1"
  shadowOffsetX="0"
  shadowOffsetY="-5"
  shadowOpacity="0.2"
  shadowRadius="5"
/>
<style id="picker-modal-overlay" backgroundColor="#1f1f1fa0" />
<style
  id="picker-modal-text"
  color="blue"
  fontSize="16"
  fontWeight="600"
  marginBottom="16"
  padding="24"
>
  <modifier pressed="true">
  <style opacity="0.5" />
  </modifier>
</style>
