{% extends 'templates/base.xml.njk' %}
{% from 'macros/tabbar-bottom-tab/index.xml.njk' import tabbar_bottom_tab %}
{% from 'macros/tabbar-bottom/index.xml.njk' import tabbar_bottom %}

{% block container %}
  <view style="tab-route-content">
    {% block tab_route_content %}{% endblock %}
  </view>
  {% call tabbar_bottom("tabs-navigator") -%}
    {{ tabbar_bottom_tab("ui", "UI", hv_tab_id == "ui") }}
    {{ tabbar_bottom_tab("behaviors", "Behaviors", hv_tab_id == "behaviors") }}
    {{ tabbar_bottom_tab("navigation", "Navigation", hv_tab_id == "navigation") }}
    {{ tabbar_bottom_tab("advanced", "Advanced", hv_tab_id == "advanced") }}
  {%- endcall %}
{% endblock %}
