---
title: "Styling"
permalink: "/styling/index.xml"
tags: root
list_tag: "styling"
list_href: "/styling/list.xml"
---
{% extends 'base.xml.njk' %}

{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
