---
title: "Shadows"
permalink: "/styling/shadows.xml"
tags: styling
---
{% extends 'scrollview.xml.njk' %}

{% block styles %}
  <style
    id="Button--Shadow"
    shadowColor="black"
    shadowOffsetX="0"
    shadowOffsetY="4"
    shadowOpacity="0.5"
    shadowRadius="4"
  />
  <style id="Button--BlueShadow" shadowColor="blue" />
  <style id="Button--BigRadius" shadowRadius="10" />
  <style id="Button--Offset" shadowOffsetX="5" shadowOffsetY="-5" />
{% endblock %}

{% block content %}
  <text style="Description">
    Shadow styling only works on iOS. For Android, use the elevation prop.
  </text>
  <text style="Description">Regular</text>
  <view style="Button Button--Shadow">
    <text style="Button__Label">Hello</text>
  </view>
  <text style="Description">Shadow color</text>
  <view style="Button Button--Shadow Button--BlueShadow">
    <text style="Button__Label">Hello</text>
  </view>
  <text style="Description">Radius</text>
  <view style="Button Button--Shadow Button--BigRadius">
    <text style="Button__Label">Hello</text>
  </view>
  <text style="Description">Offset</text>
  <view style="Button Button--Shadow Button--Offset">
    <text style="Button__Label">Hello</text>
  </view>
{% endblock %}
