{% import 'macros.nj' as macros %}

{{ macros.description('Press-in the button will replace the content.') }}
{% call macros.button('Press me') -%}
  <behavior
    action="replace"
    href="/behaviors/basic/press-in/button-press-in/_replace_fragment.xml"
    trigger="pressIn"
  />
{%- endcall %}
