{% from 'macros/description/index.xml.njk' import description %}
{% from 'macros/button/index.xml.njk' import button %}

{% block content %}
  {{ description('Tapping the button below will navigate back to a different screen') }}

  {% call button('Back to other screen') -%}
    <behavior action="back" href="/hyperview/public/navigation/behaviors/actions/changed.xml" />
  {%- endcall %}
{% endblock %}
