<text style="description" id="link-to-replace">
  Long-pressing on <text
    action="replace"
    href="/hyperview/public/behaviors/basic/triggers/long-press/long-press-link/replace_link_fragment.xml"
    trigger="longPress"
    style="link"
    target="link-to-replace"
  >this link</text> will replace the content.
</text>
