---
permalink: "/ui/ui-elements/section-list/infinite/index.xml"
tags: "UI/UI Elements/Section List"
hv_title: "Section List Infinite Scroll"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{% block container %}
  <section-list id="myList">
    <section-title style="list-header">
      <text style="list-header-text">Section 1</text>
    </section-title>
    {% for item in range(1, 6) %}
      <item key="{{ item }}" style="item">
        <text style="item-label">List {{ item }}</text>
      </item>
    {% endfor %}

    <section-title style="list-header">
      <text style="list-header-text">Section 2</text>
    </section-title>
    {% for item in range(6, 11) %}
      <item key="{{ item }}" style="item">
        <text style="item-label">List {{ item }}</text>
      </item>
    {% endfor %}

    <section-title style="list-header">
      <text style="list-header-text">Section 3</text>
    </section-title>
    {% for item in range(11, 16) %}
      <item key="{{ item }}" style="item">
        <text style="item-label">List {{ item }}</text>
      </item>
    {% endfor %}

    <section-title style="list-header">
      <text style="list-header-text">Section 4</text>
    </section-title>
    {% for item in range(16, 21) %}
      <item key="{{ item }}" style="item">
        <text style="item-label">List {{ item }}</text>
      </item>
    {% endfor %}

    <item key="page-2-loader" style="item item-last">
      <behavior
        delay="300"
        trigger="visible"
        action="replace"
        once="true"
        href="/hyperview/public/ui/ui-elements/section-list/infinite/infinite_scroll_page2.xml"
      />
      <view id="list-loading-indicator" style="spinner">
        <spinner/>
      </view>
    </item>
  </section-list>
{% endblock %}
