---
permalink: "/ui/ui-elements/section-list/infinite/infinite_scroll_page3.xml"
---

<items xmlns="https://hyperview.org/hyperview">
  {% for i in range(32, 51) %}
    <item key="{{ i }}" style="item">
      <text style="item-label">Added: List {{ i }}</text>
    </item>
  {% endfor %}
</items>
