---
permalink: "/navigation/navigator/bottom-tabs/tab-2.xml"
hv_title: "Tab Navigator - Tab 2"
hv_button_behavior: "back"
---
{% from 'macros/description/index.xml.njk' import description %}
{% extends 'templates/base.xml.njk' %}

{% block container %}
  {{ description('This is the content for tab 2.') }}
  <navigation:bottom-tab-bar
    xmlns:navigation="https://instawork.com/hyperview-navigation"
    navigation:navigator="custom-bottom-tabs-navigator"
  >
    <select-single style="tabbar-bottom" name="custom-tab-bar">
      <option
        style="tabbar-bottom-tab"
        value="custom-tab-1"
      >
        <behavior trigger="select" action="navigate" target="custom-bottom-tabs-tab-1" />
        <view style="tabbar-bottom-tab-icon-selected">
          {% include 'icons/behaviors-selected.svg' %}
        </view>
        <view style="tabbar-bottom-tab-icon">
          {% include 'icons/behaviors.svg' %}
        </view>
        <text style="tabbar-bottom-tab-label">Tab 1</text>
      </option>
      <option
        selected="true"
        style="tabbar-bottom-tab"
        value="custom-tab-2"
      >
        <behavior trigger="select" action="navigate" target="custom-bottom-tabs-tab-2" />
        <view style="tabbar-bottom-tab-icon-selected">
          {% include 'icons/advanced-selected.svg' %}
        </view>
        <view style="tabbar-bottom-tab-icon">
          {% include 'icons/advanced.svg' %}
        </view>
        <text style="tabbar-bottom-tab-label">Tab 2</text>
      </option>
    </select-single>
  </navigation:bottom-tab-bar>
{% endblock %}
