---
permalink: "/navigation/navigator/bottom-tabs/tab-1.xml"
hv_title: "Tab Navigator - Tab 1"
hv_button_behavior: "back"
---
{% from 'macros/description/index.xml.njk' import description %}
{% extends 'templates/base.xml.njk' %}

{% block container %}
  <view scroll="true">
    {{ description('This is the content for tab 1.') }}
  </view>
  {% set selected_tab = 1 %}
  {% include "./tab-bar.xml.njk" %}
{% endblock %}
