{% from 'macros/link/index.xml.njk' import link %}

{% call link("Set all with delay") -%}
  <behavior action="set-value" new-value="Multi" target="id_tf" delay="500"/>
  <behavior action="set-value" new-value="Multi" target="id_ta" delay="1000"/>
  <behavior action="set-value" new-value="Ramen" target="id_ss" delay="1500"/>
  <behavior action="set-value" new-value="2" target="id_pf" delay="2000"/>
  <behavior action="set-value" new-value="2019-04-02" target="id_df" delay="2500"/>
  <behavior action="set-value" new-value="on" target="id_s" delay="3000"/>
{%- endcall %}
