{% from 'macros/description/index.xml.njk' import description %}

{{ description(' Flex Vertical Justify Center Align Center') }}
<view style="flex-container flex-vertical flex-vertical-large flex-justify-center flex-align-center">
  <view style="flex-child"/>
  <view style="flex-child"/>
  <view style="flex-child"/>
</view>
