<style
  id="input"
  borderBottomColor="#E1E1E1"
  borderBottomWidth="1"
  borderColor="#4E4D4D"
  flex="1"
  fontSize="16"
  fontWeight="normal"
  paddingBottom="8"
  paddingTop="8">
  <modifier pressed="true">
  <style borderBottomColor="green"/>
  </modifier>
  <modifier focused="true">
  <style borderBottomColor="#4778FF"/>
  </modifier>
</style>
