---
title: "Options"
permalink: "/advanced_behaviors/alert/options.xml"
tags: alert
---

{% extends 'scrollview.xml.njk' %}
{% block content %}
  <text style="Description">
    If no options are provided, the default system dismiss button will appear.
  </text>
  <view style="Button">
    <behavior
      action="alert"
      alert:message="With no alert options, a single dismiss button appears."
      alert:title="No options"
      trigger="press"
      xmlns:alert="https://hyperview.org/hyperview-alert"/>
    <text style="Button__Label">No options</text>
  </view>
  <text style="Description">
    If one option is provided, on iOS the option will appear as a long horizontal button.
  </text>
  <view style="Button">
    <behavior
      action="alert"
      alert:message="One option on iOS appears as one long horizontal button."
      alert:title="One option"
      trigger="press"
      xmlns:alert="https://hyperview.org/hyperview-alert">
      <alert:option alert:label="Custom option"/>
    </behavior>
    <text style="Button__Label">One option</text>
  </view>
  <text style="Description">
    If two options are provided, on iOS the buttons will appear side-by-side.
  </text>
  <view style="Button">
    <behavior
      action="alert"
      alert:message="One option on iOS appears as one long horizontal button."
      alert:title="One option"
      trigger="press"
      xmlns:alert="https://hyperview.org/hyperview-alert">
      <alert:option alert:label="Custom option 1"/>
      <alert:option alert:label="Custom option 2"/>
    </behavior>
    <text style="Button__Label">Two options</text>
  </view>
  <text style="Description">
    On iOS, three options appear in a vertical list.
  </text>
  <view style="Button">
    <behavior
      action="alert"
      alert:message="One option on iOS appears as one long horizontal button."
      alert:title="One option"
      trigger="press"
      xmlns:alert="https://hyperview.org/hyperview-alert">
      <alert:option alert:label="Custom option 1"/>
      <alert:option alert:label="Custom option 2"/>
      <alert:option alert:label="Custom option 3"/>
    </behavior>
    <text style="Button__Label">Three options</text>
  </view>
  <text style="Description">
    On iOS, options buttons can have their style set to "default", "cancel" or "destructive"
  </text>
  <view style="Button">
    <behavior
      action="alert"
      alert:message="iOS button styles"
      alert:title="Options buttons can have their style set to `default`, `cancel` or `destructive`"
      trigger="press"
      xmlns:alert="https://hyperview.org/hyperview-alert">
      <alert:option alert:style="default" alert:label="Update"/>
      <alert:option alert:style="destructive" alert:label="Delete"/>
      <alert:option alert:style="cancel" alert:label="Cancel"/>
    </behavior>
    <text style="Button__Label">Option button styles</text>
  </view>
{% endblock %}
