---
permalink: "/styling/elevation/index.xml"
tags: styling
hv_title: "Elevation"
hv_button_behavior: "back"
---
{% import 'macros.nj' as macros %}
{% extends 'scrollview.xml.njk' %}


{% block styles %}
  {% include './elevation-3.xml.njk' %}
  {% include './elevation-10.xml.njk' %}
{% endblock %}

{% block content %}
  {{ macros.description('Elevation styling only works on Android. For iOS, use shadow styles.') }}
  <text style="description">Elevation: 3</text>
  <view style="button button-elevation-3">
    <text style="Button__Label">Hello</text>
  </view>
  <text style="description">Elevation: 10</text>
  <view style="button button-elevation-10">
    <text style="Button__Label">Hello</text>
  </view>
{% endblock %}
