---
permalink: "/ui/ui-elements/text/bug/replacement.xml"
hv_title: "Bug"
hv_button_behavior: "back"
---

<view xmlns="https://hyperview.org/hyperview">
  <text>
    This is the new content.
  </text>
</view>
