---
title: "Tab Navigator - Tab 2"
permalink: "/navigator/simple_tab/tab_2.xml"
---

{% extends 'base.xml.njk' %}
{% block container %}
  <view scroll="true">
    <text style="Description">This is the content for tab 2.</text>
  </view>
  <view id="Footer" style="Footer">
    <view
      style="Bottom_Tab"
      href-style="Bottom_Tab"
      action="navigate"
      target="tab-1"
    >
      <image
        source="/navigator/simple_tab/heart2.png"
        style="Bottom_Tab__Icon "
      />
      <text style="Bottom_Tab__Label">Tab 1</text>
    </view>
    <view style="Bottom_Tab Bottom_Tab__Selected">
      <image
        source="/navigator/simple_tab/list2.png"
        style="Bottom_Tab__Icon Bottom_Tab__Selected"
      />
      <text style="Bottom_Tab__Label Bottom_Tab__Label__Selected">Tab 2</text>
    </view>
  </view>
{% endblock %}
