---
permalink: "/backend/advanced/community/filter.xml"
tags: "Behaviors"
hv_button_behavior: "back"
hv_title: "Share"
---

{% extends 'templates/base.xml.njk' %}

{% block custom_ns %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block container %}
  <text>Temporary placeholder</text>
{% endblock %}
