{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

<view style="form-group">
  <text style="label">Label format examples (using moment.js)</text>
  <date-field
    field-style="input"
    field-text-style="input-text"
    label-format="MMMM D, YYYY"
    modal-overlay-style="picker-modal-overlay"
    modal-style="picker-modal"
    modal-text-style="picker-modal-text"
    name="label-format-date_1"
    placeholder="Select date"
    placeholderTextColor="#8D9494"
    value="2018-03-07"
  />
  <date-field
    field-style="input"
    field-text-style="input-text"
    label-format="L"
    modal-overlay-style="picker-modal-overlay"
    modal-style="picker-modal"
    modal-text-style="picker-modal-text"
    name="label-format-date_2"
    placeholder="Select date"
    placeholderTextColor="#8D9494"
    value="2018-03-07"
  />
  <date-field
    field-style="input"
    field-text-style="input-text"
    label-format="MMMM [the] Do, [`]YY"
    modal-overlay-style="picker-modal-overlay"
    modal-style="picker-modal"
    modal-text-style="picker-modal-text"
    name="label-format-date_3"
    placeholder="Select date"
    placeholderTextColor="#8D9494"
    value="2018-03-07"
  />
</view>
