---
permalink: "/navigation/behaviors/actions/modal/index.xml"
tags: "Navigation/Behaviors/Actions"
hv_title: "Modal"
hv_button_behavior: "close"
hv_open_modal: "true"
---
{% extends 'templates/scrollview.xml.njk' %}
{% from 'macros/description/index.xml.njk' import description %}
{% from 'macros/button/index.xml.njk' import button %}

{% block content %}
  {{ description('Open a new modal screen') }}

  {% call button('Open another modal') -%}
    <behavior action="new" href="/hyperview/public/navigation/behaviors/actions/modal/modal-1.xml" show-during-load="loading-screen-modal" />
  {%- endcall %}

  {% call button('Push on the stack') -%}
    <behavior action="push" href="/hyperview/public/navigation/behaviors/actions/modal/push-1.xml" />
  {%- endcall %}
{% endblock %}
