---
permalink: "/navigation/behaviors/actions/modal/modal-1.xml"
hv_title: "Modal Screen 1"
hv_button_behavior: "close"
---
{% from 'macros/description/index.xml.njk' import description %}
{% extends 'templates/scrollview.xml.njk' %}

{% block content %}
  {{ description('This screen was dynamically opened as a modal.') }}
{% endblock %}
