{
  "extends": ["plugin:instawork/recommended"],
  "plugins": ["instawork"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": [
          "**/scripts/*",
          "**/scripts/*/*",
          "**/scripts/*/*/*",
          "**/storybook/*",
          "**/test",
          "**/test/*",
          "**/test/**/*"
        ]
      }
    ],
    "import/no-internal-modules": [
      "warn",
      {
        "allow": [
          "hyperview/**",
          "react-native/Libraries/StyleSheet/StyleSheet",
          "react-native/Libraries/StyleSheet/StyleSheetTypes",
          "react-native/Libraries/StyleSheet/normalizeColor"
        ]
      }
    ],
    "instawork/error-object": "off",
    "instawork/deprecate-components": "error",
    "instawork/deprecate-stateless": "error",
    "instawork/import-modules": "error",
    "instawork/import-services": "error",
    "instawork/pure-components": "error",
    "instawork/stories-components": "error",
    "instawork/stories-navbars": "error",
    "instawork/stories-screens": "error",
    "react/destructuring-assignment": "error",
    "react/jsx-sort-props": "error",
    "sort-keys": "error"
  },
  "overrides": [
    {
      "files": ["**/types.ts"],
      "rules": {
        "no-use-before-define": "off",
        "max-len": "off"
      }
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": ["plugin:instawork/recommended-typescript"],
      "rules": {
        "instawork/flow-annotate": "off",
        "flowtype/no-types-missing-file-annotation": "off",
        "no-spaced-func": "off",
        "func-call-spacing": "off",
        "arrow-parens": "off",
        "function-paren-newline": "off",
        "indent": "off",
        "arrow-body-style": "off",
        "operator-linebreak": "off",
        "no-use-before-define": "off",
        "object-curly-newline": "off",
        "instawork/error-object": "off",
        "import/no-extraneous-dependencies": [
          "warn",
          {
            "devDependencies": [
              "**/stories/*.tsx"
            ]
          }
        ]
      }
    }
  ]
}