{
  "extends": ["plugin:instawork/recommended"],
  "plugins": ["instawork"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": [
          "**/*.stories.js",
          "**/stories/*.js",
          "**/*.test.js",
          "**/stories.js",
          "**/scripts/*",
          "**/scripts/*/*",
          "**/scripts/*/*/*",
          "**/storybook/*",
          "**/test",
          "**/test/*",
          "**/test/**/*"
        ]
      }
    ],
    "import/no-internal-modules": [
      "warn",
      {
        "allow": [
          "hyperview/**",
          "react-native/Libraries/StyleSheet/StyleSheet"
        ]
      }
    ],
    "instawork/error-object": "off",
    "instawork/deprecate-components": "error",
    "instawork/deprecate-stateless": "error",
    "instawork/import-modules": "error",
    "instawork/import-services": "error",
    "instawork/pure-components": "error",
    "instawork/stories-components": "error",
    "instawork/stories-navbars": "error",
    "instawork/stories-screens": "error",
    "react/destructuring-assignment": "error",
    "react/jsx-sort-props": "error",
    "sort-keys": "error"
  },
  "overrides": [
    {
      "files": ["**/types.js"],
      "rules": {
        "no-use-before-define": "off",
        "max-len": "off"
      }
    }
  ]
}
