.DS_Store
yarn-error.log

# Vim swapfiles
*.swp
*.swo

node_modules/
hyperview/node_modules/
hyperview/lib/

demo/hyperview/public/
demo/hyperview/node_modules/
demo/hyperview/lib/

website/translated_docs
website/build/
website/node_modules
website/i18n/*

.yalc
.yalcignore
demo/yalc.lock

.idea/
