.DS_Store
yarn-error.log

# Vim swapfiles
*.swp
*.swo

node_modules/
lib/

storybook/app-key.gen.js
storybook/app-key.gen.ts

_examples_site/

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

.yalc
.yalcignore
demo/yalc.lock

.idea/
