---
permalink: "/ui/ui-elements/list/refresh/index.xml"
tags: "UI/UI Elements/List"
hv_title: "List with Refresh"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}
{% from 'macros/description/index.xml.njk' import description %}

{% block container %}
  {{ description('Try multiple pull-to-refresh gestures on the list below.') }}
  <list action="replace" delay="1000" href="/hyperview/public/ui/ui-elements/list/refresh/refresh_load.xml" style="list" trigger="refresh">
    {% for i in range(1, 6) %}
      <item key="{{ i }}" style="item{% if loop.last %} item-last{% endif %}">
        <text style="item-label">List {{ i }}</text>
      </item>
    {% endfor %}
  </list>
{% endblock %}
