<style
  id="tabbar-bottom-tab"
  alignItems="center"
  flex="1"
  justifyContent="center"
/>
<style
  id="tabbar-bottom-tabbar-top-label"
  color="#cccccc"
  fontSize="8"
  fontWeight="bold"
>
  <modifier selected="true">
  <style color="#4778FF" />
  </modifier>
  <modifier pressed="true">
  <style color="#4778FF" />
  </modifier>
</style>
<style id="tabbar-bottom-tab-icon">
  <modifier selected="true">
  <style display="none" />
  </modifier>
  <modifier pressed="true">
  <style display="none" />
  </modifier>
</style>
<style id="tabbar-bottom-tab-icon-selected" display="none">
  <modifier selected="true">
  <style display="flex" />
  </modifier>
  <modifier pressed="true">
  <style display="flex" />
  </modifier>
</style>
<style
  id="tabbar-bottom-tab-content"
  alignItems="center"
  position="relative"
/>
<style
  id="tabbar-bottom-tab-notify"
  backgroundColor="#d92b2b"
  position="absolute"
  top="0"
  right="0"
  height="6"
  width="6"
  borderWidth="2"
  borderColor="#d92b2b"
  borderRadius="6"
/>
