---
permalink: "/behaviors/basic/actions/replace/once/replace_fragment.xml"
---
{% from 'macros/button/index.xml.njk' import button %}

{{ button('Replaced!', {"xmlns":"https://hyperview.org/hyperview"}) }}
