<style id="heading" flexDirection="row" justifyContent="space-between" marginBottom="16" />
<style id="heading-label" fontSize="20" fontWeight="bold" />
<style id="add-button-label" fontSize="32" lineHeight="30" color="#4778FF" />

<style id="content" height="100%" />
<style id="users-list" />
<style id="user" flex="1" flexDirection="row" paddingVertical="8" alignItems="center" borderTopWidth="1" borderColor="lightgrey" />
<style id="user-avatar" height="48" width="48" backgroundColor="#4778FF" opacity="0.3" borderRadius="32" marginRight="16" />
<style id="user-data" flex="1" flexDirection="row" justifyContent="space-between" />
<style id="user-data-left" />
<style id="user-name-label" />
<style id="user-location-label" color="grey" />
<style id="user-data-right" alignItems="flex-end" justifyContent="center" />
<style id="distance-label" color="grey" />
