---
title: "Modal Screen 1"
permalink: "/navigator/simple_stack/modal_1.xml"
---

{% extends 'base.xml.njk' %}
{% block container %}
  <view scroll="true">
    <text style="Description">This screen was dynamically opened on the stack.</text>
    <text style="Description">Pushing the button below will push another screen onto the stack.</text>
    <view
      action="push"
      href="/navigator/simple_stack/modal_2.xml"
      style="Button"
    >
      <text style="Button__Label">Push on stack</text>
    </view>
  </view>
{% endblock %}
