---
title: "Simple Stack"
permalink: "/navigator/simple_stack/screen.xml"
---

{% extends 'base.xml.njk' %}
{% block container %}
  <view scroll="true">
    <text style="Description">Tapping the button below will push a screen onto this stack.</text>
    <view
      action="push"
      href="/navigator/simple_stack/push_1.xml"
      style="Button"
    >
      <text style="Button__Label">Push</text>
    </view>
    <text style="Description">Tapping the button below will create a modal screen on this stack.</text>
    <view
      action="new"
      href="/navigator/simple_stack/modal_1.xml"
      style="Button"
    >
      <text style="Button__Label">New</text>
    </view>
  </view>
{% endblock %}
