<section-title style="image-header">
  <view style="image-header-left">
    <image
      source="/hyperview/public/advanced/case-studies/photos/avatars/worf.jpg"
      style="image-header-avatar"
    />
    <view style="image-header-left-labels">
      <text
        href="/hyperview/public/advanced/case-studies/photos/user/index.xml"
        style="image-header-username"
      >
        og_worf
      </text>
      <text style="image-header-location">Williamsburg, NY</text>
    </view>
  </view>
  <view style="image-header-right">
    <text style="image-header-more">...</text>
  </view>
</section-title>
<item key="image3">
  <image
    source="/hyperview/public/advanced/case-studies/photos/photos/inspiration1.jpeg"
    style="image"
  />
  <view style="actionbar">
    <view style="actionbar-left">
      <image
        source="/hyperview/public/advanced/case-studies/photos/icons/heart2.png"
        style="actionbar-icon actionbar-icon-first"
      />
      <image
        source="/hyperview/public/advanced/case-studies/photos/icons/chat2.png"
        style="actionbar-icon"
      />
    </view>
    <view style="actionbar-right" />
  </view>
  <text style="caption">
    True words to live by... living every day to its fullest!!
  </text>
  {% include '../_comments.xml.njk' %}
</item>
