{% from 'macros/description/index.xml.njk' import description %}
{% from 'macros/button/index.xml.njk' import button %}

{% block content %}
  {{ description('Tapping the button below will navigate back to the previous screen, but with query params from the form.') }}
  <form>
    <view style="container">
      <text-field style="input" name="param1" value="value1"/>
      <text-field style="input" name="param2" value="value2"/>
    </view>
    {% call button('Back with params') -%}
      <behavior action="back" href="/hyperview/public/navigation/index.xml?test=1" />
    {%- endcall %}
  </form>
{% endblock %}
