---
permalink: "/ui/ui-elements/list/refresh-infinite/refresh_infinite_scroll_fragment.xml"
---

<items id="list-items" xmlns="https://hyperview.org/hyperview">
  <item key="0" style="item">
    <text style="item-label">New Item!</text>
  </item>
  {% for i in range(1, 21) %}
    <item key="{{ i }}" style="item">
      <text style="item-label">List {{ i }}</text>
    </item>
  {% endfor %}
  <item key="page-2-loader" style="item item-last">
    <behavior
      delay="300"
      trigger="visible"
      action="replace"
      once="true"
      href="/hyperview/public/ui/ui-elements/list/refresh-infinite/infinite_scroll_page2.xml"
    />
    <view id="list-loading-indicator" style="Spinner">
      <spinner />
    </view>
  </item>
</items>
