---
title: "HTML"
permalink: "/ui_elements/web_views/html/index.xml"
tags: webviews
---

{% extends 'base.xml.njk' %}
{% block styles %}
<style id="Main" flex="1" />
<style id="Flex" flex="1" flexDirection="row" justifyContent="space-between" />
{% endblock %}

{% block container %}
  <view style="Main">
        <view style="Flex">
          <web-view html="&lt;h1&gt;Hello world!&lt;/h1&gt;" activity-indicator-color="red" />
        </view>
      </view>
{% endblock %}
