{% import 'macros.nj' as macros %}

{{ macros.description('Press-out the button will replace the content.') }}
{% call macros.button('Press me') -%}
  <behavior
    action="replace"
    href="/behaviors/basic/press-out/button/_replace_fragment.xml"
    trigger="pressOut"
  />
{%- endcall %}
