{% from 'macros.nj' import button, description, link, container %}

{{ description('Long-pressing the button will replace the content.') }}
{% call button('Press me') -%}
  <behavior
    action="replace"
    href="/behaviors/basic/triggers/long-press/long-press-button/_replace_fragment.xml"
    trigger="longPress"
  />
{%- endcall %}
