{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{{ description('Long-pressing the button will replace the content.') }}
{% call button('Press me') -%}
  <behavior
    action="replace"
    href="/behaviors/basic/triggers/long-press/long-press-button/_replace_fragment.xml"
    trigger="longPress"
  />
{%- endcall %}
