---
permalink: "/navigation/behaviors/actions/push/index.xml"
tags: "Navigation/Behaviors/Actions"
hv_title: "Push"
hv_button_behavior: "back"
---
{% extends 'templates/scrollview.xml.njk' %}
{% from 'macros/description/index.xml.njk' import description %}
{% from 'macros/button/index.xml.njk' import button %}

{% block styles %}
  <style
    id="input"
    borderBottomColor="#E1E1E1"
    borderBottomWidth="1"
    borderColor="#4E4D4D"
    flex="1"
    fontSize="16"
    fontWeight="normal"
    marginLeft="24"
    marginRight="24"
    paddingBottom="8"
    paddingTop="8">
    <modifier pressed="true">
    <style borderBottomColor="green"/>
    </modifier>
    <modifier focused="true">
    <style borderBottomColor="#4778FF"/>
    </modifier>
  </style>
{% endblock %}

{% block content %}
  {{ description('Tapping the button below will request an XML screen and push it onto the stack.') }}

  {% call button('Push') -%}
    <behavior action="push" href="/hyperview/public/navigation/behaviors/actions/pushed.xml" />
  {%- endcall %}

  {% call button('Push with indicator') -%}
    <behavior action="push" href="/hyperview/public/navigation/behaviors/actions/pushed.xml" show-during-load="loading-screen-pushed" />
  {%- endcall %}

  <form>
    {% call button('Push with params') -%}
      <behavior action="push" href="/hyperview/public/navigation/behaviors/actions/pushed.xml" show-during-load="loading-screen-pushed" />
    {%- endcall %}
    <text-field style="input" name="param1" value="value1"/>
  </form>
{% endblock %}
