{% extends 'templates/tab-route.xml.njk' %}

{% from 'macros/tabbar-top/index.xml.njk' import tabbar_top %}
{% from 'macros/tabbar-top-tab/index.xml.njk' import tabbar_top_tab %}

{% block tab_route_content %}
  {{ tabbar_top([
    {id: "tab-advanced", label: "Advanced", selected: true},
    {id: "tab-basic", label: "Basic"}
  ]) }}
  {% call tabbar_top_tab("tab-advanced", true) -%}
    {% include "./advanced/content.xml.njk" %}
  {%- endcall -%}
  {% call tabbar_top_tab("tab-basic") -%}
    {% include "./basic/content.xml.njk" %}
  {%- endcall -%}
{% endblock %}
