{% set hv_section_list_tag = "Behaviors/Basic/Actions,Behaviors/Basic/Triggers,Behaviors/Basic/Target,Behaviors/Basic/Indicators,Behaviors/Basic/Fragments,Behaviors/Basic/Once" %}
{% set list_href = "/hyperview/public/behaviors/basic/index.xml" %}
{% include 'templates/section-list.xml.njk' %}
