<style id="compliments" flexDirection="row" flexWrap="wrap" margin="16" />
<style
  id="compliment"
  alignItems="center"
  backgroundColor="#63cb76"
  borderRadius="16"
  flexDirection="row"
  marginBottom="16"
  marginRight="16"
  paddingBottom="8"
  paddingLeft="16"
  paddingRight="16"
  paddingTop="8"
/>
<style id="compliment-good" backgroundColor="#63cb76" />
<style id="compliment-bad" backgroundColor="#ff4847" />
<style
  id="compliment-label"
  color="white"
  fontSize="16"
  fontWeight="600"
/>
<style
  id="compliment-badge"
  backgroundColor="white"
  borderRadius="16"
  flex="0"
  marginLeft="8"
  padding="4"
  width="24"
/>
<style
  id="compliment-badge-label"
  color="#4e4d4d"
  fontSize="12"
  fontWeight="600"
  textAlign="center"
/>
<style id="feedback-container" flex="1" height="140" paddingBottom="8" />
<style id="feedback-container-extra" flexDirection="row" />
<style
  id="feedback-style"
  borderColor="#e1e1e1"
  borderRadius="8"
  borderWidth="1"
  flex="1"
  marginLeft="16"
  padding="16"
  width="200"
/>
<style
  id="spinner"
  flex="1"
  flexDirection="row"
  justifyContent="center"
  padding="24"
/>
