---
permalink: "/navigator/index.xml"
hv_title: "Navigator"
hv_tab_id: "tab-navigator"
hv_button_behavior: "none"
hv_list_tag: "navigator"
---
{% extends 'templates/tab.xml.njk' %}

{% block tab_content %}
  {% include "templates/list.xml.njk" %}
{% endblock %}
