{% from 'macros/description/index.xml.njk' import description %}

{{ description('Pre Selected') }}
<select-single name="pre-selected-select-single" style="select">
  <view style="select-separator"/>
  <option style="Select__Option" value="paid_parking">
    <text style="select-label">Paid parking</text>
    <view style="select-radio-outer">
      <view style="select-radio-inner"/>
    </view>
  </option>
  <view style="select-separator"/>
  <option selected="true" style="Select__Option" value="free_parking">
    <text style="select-label">Free parking</text>
    <view style="select-radio-outer">
      <view style="select-radio-inner"/>
    </view>
  </option>
  <view style="select-separator"/>
  <option style="Select__Option" value="unknown_parking">
    <text style="select-label">Unknown</text>
    <view style="select-radio-outer">
      <view style="select-radio-inner"/>
    </view>
  </option>
  <view style="select-separator"/>
</select-single>
