<style
  id="about-title"
  flex="1"
  alignItems="center"
  flexDirection="row"
  justifyContent="space-between"
  paddingTop="24"
  paddingHorizontal="24"
/>
<style
  id="about-container"
  backgroundColor="#FEF1CF"
  borderRadius="18"
  margin="24"
/>
<style id="about-text" fontSize="20" fontWeight="700" />
