{% set hv_section_list_tag = "Navigation/Behaviors/Actions,Navigation/Behaviors/Triggers" %}
{% set list_href = "/hyperview/public/navigation/behaviors/index.xml" %}
{% include 'templates/section-list.xml.njk' %}
