<progress-bar:progress-bar
  xmlns="https://hyperview.org/hyperview"
  xmlns:progress-bar="https://hyperview.org/progress-bar"
  id="progress-bar"
  style="progress-bar-container"
  progress-bar:bar-style="progress-bar-content"
  progress-bar:value="{{ value }}"
  progress-bar:max-value="1"
  progress-bar:duration="200"
/>
