<style
  id="canvas"
  padding="24"
/>

<style
  id="actions"
  alignItems="center"
  justifyContent="center"
  flexDirection="row"
/>

<style
  id="progress-bar-container"
  backgroundColor="white"
  borderColor="lightgray"
  borderRadius="8"
  borderWidth="1"
  height="10"
/>

<style
  id="progress-bar-content"
  backgroundColor="green"
  borderRadius="8"
  height="8"
/>
