{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{{ description('Regular') }}
{{ button('Hello', attributes={action:"reload", href:"/styling/button/index.xml"}) }}
