{% macro tabbar_top(tabs) %}
  <view style="tabbar-top-container">
    {% for tab in tabs -%}
      <view
        href-style="tabbar-top-item{% if tab.selected %} tabbar-top-item-selected{% endif %}"
        action="navigate"
        href="#{{ tab.id }}"
      >
        <text style="tabbar-top-label">{{ tab.label }}</text>
      </view>
    {%- endfor %}
  </view>
{% endmacro %}
