<style id="Content" flex="1" />
<style id="profile" flexDirection="row" padding="16" />
<style
  id="profile-image"
  borderRadius="32"
  height="64"
  marginRight="16"
  width="64"
/>
<style id="stats" flex="1" flexDirection="row" />
<style
  id="stat"
  alignItems="center"
  flexDirection="column"
  marginLeft="16"
  marginRight="16"
/>
<style
  id="stat-number"
  color="#4E4D4D"
  fontSize="18"
  fontWeight="bold"
  lineHeight="24"
/>
<style
  id="stat-label"
  color="#BDC4C4"
  fontSize="14"
  fontWeight="normal"
/>
<style id="bio" paddingBottom="16" paddingLeft="16" paddingRight="16" />
<style
  id="bio-paragraph"
  color="#4E4D4D"
  fontSize="14"
  fontWeight="600"
  lineHeight="18"
/>
<style
  id="tabs"
  flex="1"
  flexDirection="row"
  justifyContent="space-between"
  marginBottom="8"
/>
<style
  id="tab"
  alignItems="center"
  flex="1"
  flexDirection="row"
  justifyContent="center"
  padding="8"
/>
<style id="tab-image" height="24" width="24" />
<style
  id="images"
  borderColor="white"
  borderWidth="1"
  flex="1"
  flexGrow="1"
  flexDirection="row"
  flexWrap="wrap"
/>
<style
  id="image"
  borderColor="white"
  borderWidth="1"
  height="124"
  width="124"
/>
