---
permalink: "/behaviors/basic/replace/index.xml"
tags: "Actions"
hv_title: "Replace"
hv_button_behavior: "back"
---
{% extends 'scrollview.xml.njk' %}

{% block content %}
  {% include './once/index.xml.njk' %}
  {% include './twice/index.xml.njk' %}
{% endblock %}
