---
permalink: "/backend/advanced/community/svg_image.xml"
tags: "Advanced/Community/Elements"
hv_button_behavior: "back"
hv_title: "SVG Image"
---

{% extends 'templates/scrollview.xml.njk' %}
{% block content %}
  <svg xmlns="http://www.w3.org/2000/svg" width="392" height="128" viewBox="0 0 196 128" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h24v52h52V0h24v84.292l-24 37.464V76H24v52H0V0zm94 128h20L193.352 0h-19.5l-80 128z" fill="#4778ff" />
  </svg>
{% endblock %}
