<style id="main" backgroundColor="white" flex="1" />
<style
  id="title"
  color="black"
  fontSize="32"
  fontWeight="bold"
  lineHeight="40"
  marginLeft="24"
  marginRight="24"
  marginTop="24"
/>
<style
  id="section"
  borderBottomColor="#E1E3E3"
  borderBottomWidth="1"
  marginBottom="24"
  marginTop="24"
/>
<style
  id="section-header"
  fontSize="20"
  fontWeight="bold"
  lineHeight="24"
  marginBottom="16"
  marginLeft="24"
  marginRight="24"
/>
<style
  id="shift-item"
  flex="1"
  flexDirection="row"
  justifyContent="flex-start"
  paddingLeft="24"
  paddingRight="24"
/>
<style
  id="shift-item-avatar"
  backgroundColor="#E1E3E3"
  borderRadius="36"
  height="72"
  marginBottom="24"
  width="72"
/>
<style
  id="shift-item-info"
  flex="1"
  flexDirection="column"
  marginLeft="16"
/>
<style
  id="shift-item-worker-name"
  color="#4E4D4D"
  fontSize="16"
  fontWeight="normal"
  lineHeight="24"
/>
<style
  id="shift-item-details"
  color="#8D9494"
  fontSize="16"
  fontWeight="normal"
  lineHeight="24"
/>
<style id="rating-container" flex="1" />
<style
  id="Rating"
  flex="1"
  flexDirection="row"
  margin="0"
  marginTop="24"
/>
<style id="rating-star" height="40" marginRight="10" width="40" />
<style id="rating-style" flex="1" flexDirection="row" margin="0" />
<style id="rating-star-filled" />
<style
  id="bottomsheet"
  borderTopColor="#e1e1e1"
  borderTopWidth="1"
  bottom="0"
  flex="1"
  flexGrow="1"
  height="80"
  left="0"
  paddingBottom="16"
  paddingLeft="24"
  paddingRight="24"
  paddingTop="16"
  position="absolute"
  right="0"
/>
<style
  id="bottomsheet-button"
  alignItems="center"
  backgroundColor="#4778FF"
  height="48"
  justifyContent="center"
/>
<style id="bottomsheet-button-disabled" backgroundColor="#80AAFF" />
<style
  id="bottomsheet-button-label"
  color="white"
  fontSize="16"
  fontWeight="500"
  lineHeight="24"
/>
<style
  id="worker-info"
  alignItems="center"
  flex="1"
  marginLeft="24"
  marginRight="24"
  marginTop="32"
/>
<style
  id="worker-info-avatar"
  backgroundColor="#E1E3E3"
  borderRadius="36"
  height="72"
  width="72"
/>
<style
  id="worker-info-name"
  color="#4E4D4D"
  fontSize="16"
  fontWeight="bold"
  lineHeight="24"
  marginTop="16"
/>
<style
  id="worker-info-details"
  color="#4E4D4D"
  fontSize="16"
  fontWeight="normal"
  lineHeight="24"
/>
<style
  id="worker-info-time"
  color="#8D9494"
  fontSize="16"
  fontWeight="normal"
  lineHeight="24"
/>
<style
  id="form-group"
  flex="1"
  marginLeft="24"
  marginRight="24"
  marginTop="48"
/>
<style id="outer-input" flex="1" />
<style
  id="input"
  borderBottomColor="#E1E1E1"
  borderBottomWidth="1"
  borderColor="#4E4D4D"
  flex="1"
  fontSize="16"
  fontWeight="normal"
  paddingBottom="8"
  paddingTop="8"
/>
<style id="input-focused" borderBottomColor="#4778FF" />
<style id="input-error" borderBottomColor="#FF4847" color="#FF4847" />
<style
  id="label"
  borderColor="#4E4D4D"
  fontSize="16"
  fontWeight="bold"
  lineHeight="24"
  marginBottom="8"
/>
<style
  id="help"
  borderColor="#FF4847"
  fontSize="16"
  fontWeight="normal"
  lineHeight="24"
  marginTop="16"
/>
<style id="help-error" color="#FF4847" />
