{# Base template that should be used for all screens. Shows the Header + back button #}
<doc xmlns="https://hyperview.org/hyperview">
  <screen>
    <styles>
      {% include 'styles.xml.njk' %}
    </styles>
    <body style="body" safe-area="true">
      <header style="header">
        {% if button_behavior == 'close' %}
          <text action="back" href="#" style="header-back">Close</text>
        {% elif button_behavior == 'none' %}
          {# No button is shown #}
        {% else %}
          {# defaulting to back button #}
          <text action="back" href="#" style="header-back">Back</text>
        {% endif %}
        <text style="header-title">{{ title }}</text>
      </header>
      {% block container %}{% endblock %}
    </body>
  </screen>
  {% include 'loading-screen.xml.njk' %}
</doc>
