{% extends 'base.xml.njk' %}
{% block container %}
  <text style="description">This is the content for tab 1.</text>
  {% block tab_content %}{% endblock %}
  <view id="footer" style="footer">
    <view
      href-style="bottom-tab"
      action="navigate"
      target="tab-ui"
      style="bottom-tab bottom-tab-selected"
    >
      <text style="bottom-tab-label {% if tab_id === 'tab-ui' %} bottom-tab-label-selected{% endif %}">UI</text>
    </view>
    <view
      style="bottom-tab"
      href-style="bottom-tab"
      action="navigate"
      target="tab-behaviors"
    >
      <text style="bottom-tab-label {% if tab_id === 'tab-behaviors' %} bottom-tab-label-selected{% endif %}">Behaviors</text>
    </view>
    <view
      style="bottom-tab"
      href-style="bottom-tab"
      action="navigate"
      target="tab-navigation"
    >
      <text style="bottom-tab-label {% if tab_id === 'tab-navigation' %} bottom-tab-label-selected{% endif %}">Navigation</text>
    </view>
    <view
      style="bottom-tab"
      href-style="bottom-tab"
      action="navigate"
      target="tab-case-studies"
    >
      <text style="bottom-tab-label {% if tab_id === 'tab-case-studies' %} bottom-tab-label-selected{% endif %}">Case Studies</text>
    </view>
  </view>
{% endblock %}
