{# Included as a loading screen in other templates #}
<screen id="loadingScreen">
  {% include 'styles.xml.njk' %}
  <body style="body" safe-area="true">
    <header style="Header">
      <text action="back" href="#" style="header-back">Back</text>
    </header>
    <view style="loading">
      <text style="loading-text">Loading…</text>
      <spinner/>
    </view>
  </body>
</screen>
