<style
  id="header"
  alignItems="center"
  backgroundColor="white"
  borderBottomColor="#eee"
  borderBottomWidth="1"
  flexDirection="row"
  paddingBottom="16"
  paddingLeft="24"
  paddingRight="24"
/>
<style
  id="header-btn"
  color="blue"
  fontSize="16"
  fontWeight="600"
  paddingRight="16"
/>
<style id="header-title" color="black" fontSize="24" fontWeight="600" />
<style id="body" backgroundColor="white" flex="1" />
<style id="description" fontSize="16" margin="24" />
<style
  id="item"
  alignItems="center"
  backgroundColor="#FFFFFF"
  borderColor="#eee"
  borderBottomWidth="1"
  borderWidth="1"
  flex="1"
  flexDirection="row"
  height="48"
  justifyContent="space-between"
  marginHorizontal="24"
  paddingLeft="24"
  paddingRight="24"
/>
<style id="item-first" borderTopLeftRadius="24" borderTopRightRadius="24" />
<style id="item-last" borderBottomLeftRadius="24" borderBottomRightRadius="24" />
<style id="item-left" flex="1" flexDirection="row" />
<style id="item-label" fontSize="18" fontWeight="normal" />
<style id="item-chevron" fontSize="18" fontWeight="bold" />
<style
  id="button"
  backgroundColor="#63CB76"
  borderRadius="16"
  flex="1"
  flexDirection="row"
  justifyContent="center"
  margin="24"
  padding="24"
/>
<style id="button-label" color="white" fontSize="24" fontWeight="bold" />
<style id="button-disabled" opacity="0.5" />
<style
  id="button-shadow"
  elevation="4"
  shadowColor="black"
  shadowOffsetX="0"
  shadowOffsetY="4"
  shadowOpacity="0.5"
  shadowRadius="4">
  <modifier pressed="true">
  <style elevation="1" shadowOffsetY="1" shadowRadius="1" />
  </modifier>
</style>
<style
  id="button-elevation3"
  elevation="3"
  shadowColor="black"
  shadowOffsetX="0"
  shadowOffsetY="3"
  shadowOpacity="0.5"
  shadowRadius="3"
/>
<style
  id="button-elevation10"
  elevation="10"
  shadowColor="black"
  shadowOffsetX="0"
  shadowOffsetY="10"
  shadowOpacity="0.5"
  shadowRadius="10"
/>
<style
  id="bottom-tab"
  alignItems="center"
  flex="1"
  height="48"
  justifyContent="center"
/>
<style
  id="bottom-tab-label"
  color="#cccccc"
  fontSize="12"
  fontWeight="bold"
/>
<style id="bottom-tab-label-selected" color="#4778FF" />
<style id="bottom-tab-selected" />
<style
  id="back-image"
  alignItems="center"
  flex="0"
  height="10"
  justifyContent="center"
  padding="10"
  width="10"
/>
<style
  id="footer"
  alignItems="stretch"
  borderTopColor="#eee"
  borderTopWidth="1"
  bottom="0"
  flexDirection="row"
  flexShrink="1"
  flexGrow="0"
  justifyContent="space-around"
  position="absolute"
/>
<style
  id="list-container"
  flex="0"
  flexGrow="0"
  marginTop="24"
/>
<style id="loading-text" fontSize="14" fontWeight="normal" marginBottom="16" />
<style id="loading" alignItems="center" flex="1" justifyContent="center" />
<style id="custom-image-wrapper" paddingRight="12" />
<style id="link" color="#4778FF" fontWeight="bold" marginTop="8" marginRight="16" alignSelf="flex-end" />
