<text style="description" id="link-to-replace">
  Press on <text
    action="replace"
    href="/behaviors/basic/triggers/press/link/_replace_link_fragment.xml"
    trigger="press"
    style="link"
    target="link-to-replace"
  >this link</text> will replace the content.
</text>
