<view style="form-group">
  <text style="label">Switch</text>
  <switch
    action="replace-inner"
    href="#switchedToggled"
    name="text"
    target="container1"
    trigger="change"
  />
</view>
<view hide="true">
  <text id="switchedToggled" style="tip">Switch toggled</text>
</view>
