---
permalink: "/case-studies/business-rating/index.xml"
tags: "case_studies"
hv_title: "Rate by Business"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{# TODO rohanbayya: Fix Report Issue #}

{% block custom_ns %}
  xmlns:ns1="https://instawork.com/hyperview-intercom"
{% endblock %}

{% block styles %}
  {% include './styles.xml.njk' %}
{% endblock %}

{% block container %}
  <view style="section">
    <view style="section-top">
      <text style="section-header">Instaworkers</text>
      <text style="section-action">
        <behavior action="intercom" ns1:action="open" trigger="press" />
        Report Issue
      </text>
    </view>
    <list>
      <item
        action="new"
        delay="500"
        href="/case-studies/business-rating/rating-modal/index.xml"
        key="a"
        show-during-load="loadingScreen"
        style="shift-item"
      >
        <image
          source="/case-studies/business-rating/image.jpg"
          style="shift-item-avatar"
        />
        <view style="shift-item-info">
          <text style="shift-item-worker-name">Jake Tepperman</text>
          <text style="shift-item-details">
            7:00 PM - 1:00 AM - $116.80
          </text>
          <view style="rating-style">
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=1"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=2"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=3"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=4"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=5"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
          </view>
        </view>
      </item>
      <item
        action="new"
        delay="500"
        href="/case-studies/business-rating/rating-modal/index.xml"
        key="b"
        show-during-load="loadingScreen"
        style="shift-item"
      >
        <image
          source="/case-studies/business-rating/image.jpg"
          style="shift-item-avatar"
        />
        <view style="shift-item-info">
          <text style="shift-item-worker-name">Jake Tepperman</text>
          <text style="shift-item-details">
            7:00 PM - 1:00 AM - $116.80
          </text>
          <view style="rating-style">
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=1"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=2"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=3"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=4"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
            <image
              action="new"
              delay="500"
              href="/case-studies/business-rating/rating-modal/index.xml?rating=5"
              show-during-load="loadingScreen"
              source="/case-studies/business-rating/star_empty.png"
              style="rating-star"
            />
          </view>
        </view>
      </item>
    </list>
  </view>
{% endblock %}
