<style
  id="section"
  borderBottomColor="#E1E3E3"
  borderBottomWidth="1"
  marginBottom="24"
  marginTop="24"
/>
<style
  id="section-top"
  flexDirection="row"
  justifyContent="space-between"
/>
<style
  id="section-header"
  fontSize="20"
  fontWeight="bold"
  lineHeight="24"
  marginBottom="16"
  marginLeft="24"
  marginRight="24"
/>
<style
  id="section-action"
  color="#4778FF"
  fontSize="16"
  fontWeight="600"
  lineHeight="24"
  marginBottom="16"
  marginLeft="24"
  marginRight="24"
/>
<style
  id="shift-item"
  flex="1"
  flexDirection="row"
  justifyContent="flex-start"
  marginBottom="32"
  paddingLeft="24"
  paddingRight="24"
/>
<style id="shift-item-avatar" borderRadius="24" height="48" width="48" />
<style
  id="shift-item-info"
  flex="1"
  flexDirection="column"
  marginLeft="16"
/>
<style
  id="shift-item-worker-name"
  color="#4E4D4D"
  fontSize="16"
  fontWeight="normal"
  lineHeight="24"
/>
<style
  id="shift-item-details"
  color="#8D9494"
  fontSize="16"
  fontWeight="normal"
  lineHeight="24"
/>
<style id="rating-style" flex="1" flexDirection="row" margin="0" />
<style id="rating-star" height="24" marginRight="8" width="24" />
<style id="rating-star-filled" backgroundColor="#FBB90E" />
