{% from 'macros/description/index.xml.njk' import description %}

{{ description('Dismiss Keyboard On Drag') }}
<view scroll="true" keyboard-dismiss-mode="on-drag" style="ScrollContainer ScrollContainer--Vertical">
  <text-field name="field" style="input" placeholder="Focus me, then scroll!"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
  <view style="ScrollChild ScrollChild--Vertical"/>
</view>
