---
title: "Custom Components"
permalink: "/custom_components/index.xml"
tags: root
list_tag: "custom_components"
list_href: "/navigator/list.xml"
---

{% extends 'base.xml.njk' %}
{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
