---
title: "Dimiss keyboard on drag"
permalink: "/ui_elements/list/dismiss_keyboard_on_drag/index.xml"
tags: list
---

{% extends 'base.xml.njk' %}
{% block styles %}
  <style
    id="input"
    borderBottomColor="#E1E1E1"
    borderBottomWidth="1"
    borderColor="#4E4D4D"
    flex="1"
    fontSize="16"
    fontWeight="normal"
    paddingBottom="8"
    paddingTop="8">
    <modifier pressed="true">
      <style borderBottomColor="green"/>
    </modifier>
    <modifier focused="true">
      <style borderBottomColor="#4778FF"/>
    </modifier>
  </style>
{% endblock %}
{% block container %}
  <list dismiss-keyboard-on-drag="true">
    <item key="field" style="Item">
      <text-field name="field" style="input" auto-focus="true" placeholder="Scroll!" />
    </item>
    <item key="1" style="Item">
      <text style="Item__Label">Item 1</text>
    </item>
    <item key="2" style="Item">
      <text style="Item__Label">Item 2</text>
    </item>
    <item key="3" style="Item">
      <text style="Item__Label">Item 3</text>
    </item>
    <item key="4" style="Item">
      <text style="Item__Label">Item 4</text>
    </item>
    <item key="5" style="Item">
      <text style="Item__Label">Item 5</text>
    </item>
    <item key="6" style="Item">
      <text style="Item__Label">Item 6</text>
    </item>
    <item key="7" style="Item">
      <text style="Item__Label">Item 7</text>
    </item>
    <item key="8" style="Item">
      <text style="Item__Label">Item 8</text>
    </item>
    <item key="9" style="Item">
      <text style="Item__Label">Item 9</text>
    </item>
    <item key="10" style="Item">
      <text style="Item__Label">Item 10</text>
    </item>
    <item key="11" style="Item">
      <text style="Item__Label">Item 11</text>
    </item>
    <item key="12" style="Item">
      <text style="Item__Label">Item 12</text>
    </item>
    <item key="13" style="Item">
      <text style="Item__Label">Item 13</text>
    </item>
    <item key="14" style="Item">
      <text style="Item__Label">Item 14</text>
    </item>
    <item key="15" style="Item">
      <text style="Item__Label">Item 15</text>
    </item>
    <item key="16" style="Item">
      <text style="Item__Label">Item 16</text>
    </item>
    <item key="17" style="Item">
      <text style="Item__Label">Item 17</text>
    </item>
    <item key="18" style="Item">
      <text style="Item__Label">Item 18</text>
    </item>
    <item key="19" style="Item">
      <text style="Item__Label">Item 19</text>
    </item>
    <item key="20" style="Item">
      <text style="Item__Label">Item 20</text>
    </item>
  </list>
{% endblock %}
