{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

<view style="form-group">
  <text style="label">Validation error</text>
  <picker-field
    field-style="input input-error"
    field-text-style="input-text input-text--Error"
    modal-overlay-style="picker-modal-overlay"
    modal-style="picker-modal"
    modal-text-style="picker-modal-text"
    name="validation-error-picker"
    placeholder="Select choice"
    placeholderTextColor="#8D9494"
  >
    <picker-item label="Choice 0" value="0"/>
    <picker-item label="Choice 1" value="1"/>
    <picker-item label="Choice 2" value="2"/>
    <picker-item label="Choice 3" value="3"/>
    <picker-item label="Choice 4" value="4"/>
    <picker-item label="Choice 5" value="5"/>
    <picker-item label="Choice 6" value="6"/>
  </picker-field>
  <text style="help help-error">Please select a choice</text>
</view>
