version: 2

jobs:
  test:
    docker:
      - image: instawork/hyperview-ci:1.0.0
    steps:
      - checkout
      - run: yarn --ignore-optional
      - run: yarn test:generators
      - run: yarn test:flow
      - run: yarn test:lint
      - run: yarn test:render
      - run: yarn test:unit
      - run: yarn test:validate-xml

workflows:
  version: 2
  test-pr:
    jobs:
      - test
