{% from 'macros/button/index.xml.njk' import button_serialize %}

<form id="form" xmlns="https://hyperview.org/hyperview">
  {% include './_simple-select/index.xml.njk' %}
  {% include './_pre-select/index.xml.njk' %}
  {% include './_custom/index.xml.njk' %}

  {{ button_serialize("/hyperview/public/ui/ui-elements/forms/select-multiple/form.xml", formData) }}
</form>
