<section-title style="image-header">
  <view style="image-header-left">
    <image
      href="/hyperview/public/advanced/case-studies/photos/index.xml"
      source="/hyperview/public/advanced/case-studies/photos/avatars/riker.jpg"
      style="image-header-avatar"
    />
    <view style="image-header-left-labels">
      <text
        href="/hyperview/public/advanced/case-studies/photos/user/index.xml"
        style="image-header-username"
      >
        riker007
      </text>
      <text style="image-header-location">Las Vegas, CA</text>
    </view>
  </view>
  <view style="image-header-right">
    <text style="image-header-more">...</text>
  </view>
</section-title>
<item key="image1">
  <view style="image-container">
    <image
      source="/hyperview/public/advanced/case-studies/photos/photos/concert.jpeg"
      style="image"
    />
    <view id="image1-overlay" style="image-container-overlay" />
  </view>
  <view style="actionbar">
    <view style="actionbar-left">
      <select-multiple name="image1-like">
        <option
          style="actionbar-icon actionbar-icon-first"
          value="like"
        >
          <behavior
            action="replace"
            href="/hyperview/public/advanced/case-studies/photos/num_likes_increase.xml"
            target="image1-num-likes"
            trigger="select"
          />
          <behavior
            action="replace"
            href="/hyperview/public/advanced/case-studies/photos/num_likes_decrease.xml"
            target="image1-num-likes"
            trigger="deselect"
          />
          <image
            source="/hyperview/public/advanced/case-studies/photos/icons/heart2.png"
            style="actionbar-icon-image"
          />
          <image
            source="/hyperview/public/advanced/case-studies/photos/icons/heart_liked2.png"
            style="actionbar-icon-image-selected"
          />
        </option>
      </select-multiple>
      <image
        source="/hyperview/public/advanced/case-studies/photos/icons/chat2.png"
        style="actionbar-icon"
      />
    </view>
    <view style="actionbar-right" />
  </view>
  <text style="caption">Best night of my life!</text>
  {% include '../_comments.xml.njk' %}
</item>
