{% from 'macros/button/index.xml.njk' import button %}

<bottom-sheet:bottom-sheet
  xmlns:bottom-sheet="https://hyperview.org/bottom-sheet"
  xmlns:scroll="https://hyperview.org/hyperview-scroll"
  bottom-sheet:toggle-event-name="bottom-sheet/toggle3"
  bottom-sheet:animation-duration="250"
  bottom-sheet:dismissible="true"
  bottom-sheet:visible="false"
  bottom-sheet:swipe-to-close="true"
  bottom-sheet:container-style="bottom-sheet-container"
  bottom-sheet:handle-style="bottom-sheet-handle"
  bottom-sheet:overlay-style="bottom-sheet-overlay"
>
  <bottom-sheet:content-section key="0">
    <view key="bottom-sheet-content" style="bottom-sheet">
      <text>
        Section 1. This is only text that should initially be showing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
        consectetur ultricies. Donec nec nunc consectetur, ultricies nunc nec, ultricies
        nunc. Nullam nec purus nec nunc consectetur ultricies. Donec nec nunc consectetur,
        ultricies nunc nec, ultricies nunc. Nullam nec purus nec nunc consectetur ultricies.
      </text>
    </view>
  </bottom-sheet:content-section>
  <bottom-sheet:content-section key="1">
    <view key="bottom-sheet-content" style="bottom-sheet">
      <text>
        Section 2. This should be hidden from the initial view render. Testing Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
        consectetur ultricies. Donec nec nunc consectetur, ultricies nunc nec, ultricies
        nunc. Nullam nec purus nec nunc consectetur ultricies. Donec nec nunc consectetur,
        ultricies nunc nec, ultricies nunc. Nullam nec purus nec nunc consectetur ultricies.
      </text>
      <text></text>
      <text>
        Testing Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
        consectetur ultricies. Donec nec nunc consectetur, ultricies nunc nec, ultricies
        nunc. Nullam nec purus nec nunc consectetur ultricies. Donec nec nunc consectetur,
        ultricies nunc nec, ultricies nunc. Nullam nec purus nec nunc consectetur ultricies.
      </text>
    </view>
  </bottom-sheet:content-section>
</bottom-sheet:bottom-sheet>
{% call button('Open bottom sheet w/ sections') -%}
  <behavior
    action="dispatch-event"
    event-name="bottom-sheet/toggle3"
    trigger="press"
  />
{%- endcall %}
