
{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{{ description('Tapping the button below will replace the content with a copy of the fragment below.') }}
{# behavior attributes can be attached to a view too #}
{{ button('Press me', attributes={"action": "replace", "href":"#fragment"}) }}
{{ button('Fragment for Replace', attributes={id:"fragment"}) }}
