
<view style="form-group">
  <text style="label">Date field</text>
  <date-field
    field-style="input"
    field-text-style="input-text"
    label-format="MMMM D, YYYY"
    modal-style="picker-modal"
    modal-overlay-style="picker-modal-overlay"
    modal-text-style="picker-modal-text"
    name="date1"
    mode="spinner"
    placeholder="Select date"
    placeholderTextColor="#8D9494"
    trigger="focus"
    action="replace-inner"
    target="container1"
    href="#dateFieldFocused"
  >
    <behavior
      trigger="focus"
      action="append"
      target="container1"
      href="#dateFieldFocused2"
    />
  </date-field>
</view>
<view hide="true">
  <text id="dateFieldFocused" style="tip">Date field focused</text>
  <text id="dateFieldFocused2" style="tip">!</text>
</view>
