
{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{{ description('Shadow') }}
{{ button('Shadow', attributes={action:"reload", href:"/styling/button/index.xml", style:"button button-shadow"}) }}
