{% from 'macros.nj' import button, description, link, container %}

{{ description('Shadow') }}
{{ button('Shadow', attributes={action:"reload", href:"/styling/button/index.xml", style:"button button-shadow"}) }}
