<style
  id="button-shadow"
  elevation="4"
  shadowColor="black"
  shadowOffsetX="0"
  shadowOffsetY="4"
  shadowOpacity="0.5"
  shadowRadius="4">
  <modifier pressed="true">
  <style elevation="1" shadowOffsetY="1" shadowRadius="1" />
  </modifier>
</style>
