---
title: "UI"
permalink: "/ui/index.xml"
tab_id: "tab-ui"
button_behavior: "none"
list_href: "list.xml"
list_tag: "ui_root"
---
{% extends 'base-tab.xml.njk' %}

{% block tab_content %}
  {% include "list.xml.njk" %}
{% endblock %}
