---
hv_title: "UI"
permalink: "/ui/index.xml"
hv_tab_id: "tab-ui"
hv_button_behavior: "none"
hv_list_tag: "ui_root"
---
{% extends 'tab.xml.njk' %}

{% block tab_content %}
  <text style="description">This is the content for UI tab.</text>
  {% include "list.xml.njk" %}
{% endblock %}
