---
permalink: "/advanced/case-studies/basic-forms/next.xml"
hv_title: "Basic Forms"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{% from 'macros/description/index.xml.njk' import description %}

{% block styles %}
  {% include './_styles.xml.njk' %}
{% endblock %}

{% block container %}
  {{ description('Next page') }}
{% endblock %}
