---
permalink: "/ui/ui-elements/section-list/keyboard-persist-tap/index.xml"
tags: "UI/UI Elements/Section List"
hv_title: "Keyboard Persist Tap"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}
{% from 'macros/text-field/index.xml.njk' import text_field %}

{% block container %}
  <section-list keyboard-should-persist-taps="handled">
    <item key="field" style="item">
      {{ text_field("field", {"auto-focus":"true", "placeholder":"Tap!"}) }}
    </item>
    <section-title style="list-header">
      <text style="list-header-text">Section 1</text>
    </section-title>
    {% for item in range(1, 11) %}
      <item key="{{ item }}" style="item">
        <text style="item-label">List {{ item }}</text>
        <behavior
          xmlns:alert="https://hyperview.org/hyperview-alert"
          trigger="press"
          action="alert"
          alert:title="List {{ item }} selected"
        >
          <alert:option alert:label="Cancel" />
        </behavior>
      </item>
    {% endfor %}

    <section-title style="list-header">
      <text style="list-header-text">Section 2</text>
    </section-title>
    {% for item in range(11, 21) %}
      <item key="{{ item }}" style="item{% if loop.last %} item-last{% endif %}">
        <text style="item-label">List {{ item }}</text>
      </item>
    {% endfor %}
  </section-list>
{% endblock %}
