{% import 'macros.nj' as macros %}

{{ macros.description('Long-pressing the button will replace the content.') }}
{% call macros.button('Press me') -%}
  <behavior
    action="replace"
    href="/behaviors/basic/long-press/button/_replace_fragment.xml"
    trigger="longPress"
  />
{%- endcall %}
