---
permalink: "/ui/ui-elements/list/keyboard-dismiss/index.xml"
tags: "UI/UI Elements/List"
hv_title: "Dismiss Keyboard on Drag"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}
{% from 'macros/text-field/index.xml.njk' import text_field %}

{% block container %}
  <list keyboard-dismiss-mode="on-drag">
    <item key="field" style="item">
      {{ text_field("field", {"auto-focus":"true", "placeholder":"Scroll!"}) }}
    </item>
    {% for i in range(1, 21) %}
      <item key="{{ i }}" style="item{% if loop.last %} item-last{% endif %}">
        <text style="item-label">List {{ i }}</text>
      </item>
    {% endfor %}
  </list>
{% endblock %}
