---
permalink: "/ui/ui-elements/view/keyboard-persist-tap/index.xml"
tags: "UI/UI Elements/View"
hv_title: "Keyboard: Persist Tap"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}
{% from 'macros/text-field/index.xml.njk' import text_field %}

{% block container %}
  <view keyboard-should-persist-taps="handled" scroll="true">
    <view key="field" style="item">
      {{ text_field("field", {"auto-focus":"true", "placeholder":"Tap!"}) }}
    </view>
    {% for i in range(1, 21) %}
      <view key="{{ i }}" style="item{% if loop.last %} item-last{% endif %}">
        <text style="item-label">Item {{ i }}</text>
        <behavior
          xmlns:alert="https://hyperview.org/hyperview-alert"
          trigger="press"
          action="alert"
          alert:title="Item {{ i }} selected"
        >
          <alert:option alert:label="Cancel" />
        </behavior>
      </view>
    {% endfor %}
  </view>
{% endblock %}
