{% from 'macros/description/index.xml.njk' import description %}

{{ description('Flex Vertical') }}
<view style="flex-container flex-vertical">
  <view style="flex-child"/>
  <view style="flex-child"/>
  <view style="flex-child"/>
</view>
