---
permalink: "/behaviors/basic/triggers/refresh/replace_inner_fragment.xml"
---

{% from 'macros/description/index.xml.njk' import description %}

<view xmlns="https://hyperview.org/hyperview">
  {{ description('Refreshed!') }}
</view>
