---
permalink: "/ui/ui-elements/text/preformatted/index.xml"
tags: "UI/UI Elements/Text"
hv_title: "Preformatted"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{% block styles %}
  <style id="text" fontSize="24" margin="24"/>
{% endblock %}

{% block container %}
  <text style="text" preformatted="true">
    <![CDATA[<hello>
      <world />
    </hello>
    ]]>
  </text>
{% endblock %}
