---
title: "Deprecated sections"
permalink: "/ui_elements/sectionlist/deprecated_sections/index.xml"
tags: sectionlist
---

{% extends 'base.xml.njk' %}
{% block styles %}
<style id="Spinner" flex="1" flexDirection="row" justifyContent="center" padding="24" />
<style id="List__HeaderText" fontSize="18" fontWeight="bold" />
<style id="List__Header" alignItems="center" backgroundColor="#eee" flex="1" flexDirection="row" height="48" paddingLeft="24" paddingRight="24" />
{% endblock %}

{% block container %}
  <section-list id="myList">
        
        <section>
          <section-title style="List__Header">
            <text style="List__HeaderText">Section 1</text>
          </section-title>
          <item key="1" style="Item">
            <text style="Item__Label">List 1</text>
          </item>
          <item key="2" style="Item">
            <text style="Item__Label">List 2</text>
          </item>
          <item key="3" style="Item">
            <text style="Item__Label">List 3</text>
          </item>
          <item key="4" style="Item">
            <text style="Item__Label">List 4</text>
          </item>
          <item key="5" style="Item">
            <text style="Item__Label">List 5</text>
          </item>
          <item action="append" delay="1000" href="/ui_elements/sectionlist/deprecated_sections/_deprecated_scroll_page2.xml" key="20" once="true" show-during-load="myIndicator" style="Item" target="myList" trigger="visible">
            <text style="Item__Label">List 20</text>
          </item>
        </section>
      </section-list>
<view id="myIndicator" hide="true" style="Spinner">
        <spinner />
      </view>
{% endblock %}
