---
permalink: "/navigation/behaviors/actions/close/index.xml"
tags: "Navigation/Behaviors/Actions"
hv_title: "Close"
hv_button_behavior: "close"
hv_open_modal: "true"
---
{% extends 'templates/scrollview.xml.njk' %}

{% block styles %}
  <style id="container" marginHorizontal="24" />
{% endblock %}

{% block content %}
  {% include './_close-previous-screen/index.xml.njk' %}
  {% include './_close-query-params/index.xml.njk' %}
  {% include './_close-different-screen/index.xml.njk' %}
  {% include './_close-loading/index.xml.njk' %}
{% endblock %}
