{% from 'macros/description/index.xml.njk' import description %}

{{ description('In this example, the replaced element also has an href with an prepend action, demonstrating loading of a nested structure.') }}
<view
  action="prepend"
  href="/hyperview/public/behaviors/basic/actions/prepend/prepend-nested/prepend_fragment2.xml"
  style="tree tree-root"
/>
