<section-title style="image-header">
  <view style="image-header-left">
    <image
      source="/case-studies/photos/avatars/worf.jpg"
      style="image-header-avatar"
    />
    <view style="ImageHeader__LeftLabels">
      <text
        href="/case-studies/photos/user/index.xml"
        style="image-header-username"
      >
        og_worf
      </text>
      <text style="image-header-location">Williamsburg, NY</text>
    </view>
  </view>
  <view style="image-header-right">
    <text style="ImageHeader__More">...</text>
  </view>
</section-title>
<item key="image3">
  <image
    source="/case-studies/photos/photos/inspiration1.jpeg"
    style="image"
  />
  <view style="actionbar">
    <view style="actionbar-left">
      <image
        source="/case-studies/photos/icons/heart2.png"
        style="actionbar-icon actionbar-icon-first"
      />
      <image
        source="/case-studies/photos/icons/chat2.png"
        style="actionbar-icon"
      />
    </view>
    <view style="actionbar-right" />
  </view>
  <text style="caption">
    True words to live by... living every day to its fullest!!
  </text>
  <view style="comments">
    <text style="comments-likes">7 likes</text>
    <text style="comments-more">View all 140 comments</text>
    <view style="comment">
      <text
        href="/case-studies/photos/user/index.xml"
        style="comment-author"
      >
        og_worf
      </text>
      <text style="comment-content">hello!</text>
    </view>
    <view style="comment">
      <text
        href="/case-studies/photos/user/index.xml"
        style="comment-author"
      >
        riker007
      </text>
      <text style="comment-content">hello!</text>
    </view>
    <view style="comment">
      <text
        href="/case-studies/photos/user/index.xml"
        style="comment-author"
      >
        jean.luc.p
      </text>
      <text style="comment-content">hello!</text>
    </view>
  </view>
</item>
