<items xmlns="https://hyperview.org/hyperview">
  {% for contact in contacts|paginate(page) %}
    <item key="{{ contact.id }}" style="mx-24 py-8 border-bottom">
      <text>{{ contact.name|highlight(search)|safe }}</text>
      <text>{{ contact.email }}</text>
      <text>{{ contact.phone }}</text>
    </item>
  {% endfor %}
  {% if contacts|pageCount > page %}
    <item
      key="load-more"
      id="load-more"
      trigger="visible"
      action="replace"
      style="py-8"
      href="?page={{ page|int + 1 }}{% if search %}&amp;search={{ search|safe }}&amp;template=_contacts{% endif %}"
    >
      <spinner />
    </item>
  {% endif %}
</items>
