---
permalink: "/advanced/case-studies/contacts/index.xml"
tags: "Advanced/Case Studies"
hv_title: "Contacts"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{% block styles %}
  <style id="flex" flex="1" />
  <style
    id="input"
    backgroundColor="#FFFFFF"
    borderBottomColor="#E1E1E1"
    borderBottomWidth="1"
    borderColor="#4E4D4D"
    fontSize="16"
    fontWeight="normal"
    paddingBottom="8"
    paddingTop="8">
    <modifier pressed="true">
    <style borderBottomColor="green"/>
    </modifier>
    <modifier focused="true">
    <style borderBottomColor="#4778FF"/>
    </modifier>
  </style>
  <style id="relative" position="relative" />
  <style id="absolute" position="absolute" />
  <style id="r-0" right="0" />
  <style id="mx-24" marginHorizontal="24" />
  <style id="py-8" paddingVertical="8" />
  <style id="border-bottom" borderBottomWidth="1" borderBottomColor="lightgray" />
  <style id="highlight" fontWeight="bold" color="blue" />
{% endblock %}

{% block container %}
  <form style="flex">
    {% include './_list.xml.njk' %}
  </form>
{% endblock %}
