{% set hv_section_list_tag = "Advanced/Community/Elements,Advanced/Community/Behaviors" %}
{% set list_href = "/hyperview/public/advanced/community/index.xml" %}
{% include 'templates/section-list.xml.njk' %}
