{% from 'macros.nj' import button, description, link, container %}

{% call button('Message-only') -%}
  <behavior
    xmlns:share="https://instawork.com/hyperview-share"
    action="share"
    share:message="Test message"
    trigger="press"
  />
{%- endcall %}
