{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

<view style="form-group">
  <text style="label">Min date (May 5, 2018)</text>
  <date-field
    field-style="input"
    field-text-style="input-text"
    label-format="MMMM D, YYYY"
    min="2018-05-05"
    modal-overlay-style="picker-modal-overlay"
    modal-style="picker-modal"
    modal-text-style="picker-modal-text"
    name="min-date-1"
    placeholder="Select date"
    placeholderTextColor="#8D9494"
  />
  <date-field
    field-style="input"
    field-text-style="input-text"
    label-format="MMMM D, YYYY"
    min="2018-05-05"
    modal-style="picker-modal"
    modal-overlay-style="picker-modal-overlay"
    modal-text-style="picker-modal-text"
    mode="spinner"
    name="min-date-2"
    placeholder="Select date (spinner)"
    placeholderTextColor="#8D9494"
  />
</view>
