---
permalink: "/behaviors/advanced/dispatch-multiple/item-1.xml"
hv_title: "Contact Info"
hv_button_behavior: "back"
---
{% extends 'scrollview.xml.njk' %}
{% from 'macros/contact-template/index.xml.njk' import contact %}

{% block content %}
  {% call contact("Jeeves", "(555) 555 5555") -%}
    <behavior
      action="dispatch-event"
      event-name="added-item1"
      trigger="press"
    />
    <behavior
      action="dispatch-event"
      event-name="go-back"
      trigger="press"
    />
  {%- endcall %}
{% endblock %}
