---
title: "Image"
permalink: "/ui_elements/image/index.xml"
tags: ui_elements
---

{% extends 'scrollview.xml.njk' %}
{% block styles %}
  <style id="Image" flex="1" height="128" margin="24" width="128"/>
  <style
    id="Image__Styled"
    borderColor="#e1e1e1"
    borderRadius="64"
    borderWidth="4"/>
{% endblock %}
{% block content %}
  <text style="Description">Image</text>
  <image source="/ui_elements/image/image.jpg" style="Image"/>
  <text style="Description">Styled</text>
  <image source="/ui_elements/image.jpg" style="Image Image__Styled"/>
{% endblock %}
