---
permalink: "/advanced/case-studies/navigation/actions/index.xml"
tags: "case_studies"
hv_title: "Navigation"
hv_button_behavior: "back"
---

<doc xmlns="https://hyperview.org/hyperview">
  <screen>
    <styles>
      {% include 'templates/styles.xml.njk' %}
      <style id="body" backgroundColor="white" flex="1" padding="48" />
      <style id="label" fontSize="18" lineHeight="24" />
      <style id="label-link" color="blue" fontSize="18">
        <modifier pressed="true">
        <style color="red" fontWeight="bold" />
        </modifier>
      </style>
    </styles>
    <body style="body" safe-area="true">
      {% include 'templates/header.xml.njk' %}
      <text style="label">This is screen 1.</text>
      <text
        delay="800"
        href="/hyperview/public/advanced/case-studies/navigation/actions/screen2.xml"
        show-during-load="screen2Loading"
        style="label label-link"
      >
        Click me
      </text>
    </body>
  </screen>
  <screen id="screen2Loading">
    <styles>
      {% include 'templates/styles.xml.njk' %}
      <style
        id="body"
        backgroundColor="white"
        alignItems="flex-start"
        flex="1"
        padding="48"
      />
      <style id="label" fontSize="18" fontWeight="bold" lineHeight="24" />
      <style id="spinner" paddingBottom="24" />
    </styles>
    <body style="body" safe-area="true">
      {% include 'templates/header.xml.njk' %}
      <view style="spinner">
        <spinner />
      </view>
      <text style="label">Screen 2 is loading...</text>
    </body>
  </screen>
</doc>
