---
permalink: "/behaviors/basic/hide-indicator/index.xml"
tags: "Indicators"
hv_title: "Hide Indicator"
hv_button_behavior: "back"
---
{% extends 'scrollview.xml.njk' %}
{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}
{% from 'macros/container/index.xml.njk' import container %}

{% block content %}
  {% call description() -%}
    Tapping the button below will request an XML fragment and replace the
    child element in the button. An indicator disappears during loading.
  {%- endcall %}
  {% call button('Press me') -%}
    <behavior
      action="replace"
      href="/behaviors/basic/_target_sibling_fragment.xml"
      target="container"
      delay="300"
      hide-during-load="myIndicator"
    />
  {%- endcall %}
  <text id="myIndicator" style="description">Loaded!</text>
  {{ container('Waiting...', attributes={id:"container"}) }}
{% endblock %}
