---
permalink: "/advanced/case-studies/photos/user/index.xml"
hv_title: "User data"
hv_button_behavior: "back"
---
{% extends 'templates/scrollview.xml.njk' %}

{% block styles %}
  {% include './_styles.xml.njk' %}
{% endblock %}

{% block content %}
  <view style="profile">
    <image
      source="/hyperview/public/advanced/case-studies/photos/avatars/data.jpg"
      style="profile-image"
    />
    <view style="stats">
      <view style="stat">
        <text style="stat-number">3431</text>
        <text style="stat-label">posts</text>
      </view>
      <view style="stat">
        <text style="stat-number">6530</text>
        <text style="stat-label">followers</text>
      </view>
      <view style="stat">
        <text style="stat-number">217</text>
        <text style="stat-label">following</text>
      </view>
    </view>
  </view>
  <view style="bio">
    <text style="bio-paragraph">Data</text>
    <text style="bio-paragraph">
      I'm a synthetic life form with artificial intelligence. Love long
      walks on the beach and pumpkin spice everything!
    </text>
  </view>
  <view style="tabs">
    <view style="tab">
      <image
        source="/hyperview/public/advanced/case-studies/photos/icons/grid2.png"
        style="tab-image"
      />
    </view>
    <view style="tab">
      <image
        source="/hyperview/public/advanced/case-studies/photos/icons/list2.png"
        style="tab-image"
      />
    </view>
    <view style="tab">
      <image
        source="/hyperview/public/advanced/case-studies/photos/icons/location2.png"
        style="tab-image"
      />
    </view>
    <view style="tab">
      <image
        source="/hyperview/public/advanced/case-studies/photos/icons/tag2.png"
        style="tab-image"
      />
    </view>
  </view>
  <view style="images">
    <image
      source="/hyperview/public/advanced/case-studies/photos/photos/coffee.jpeg"
      style="image"
    />
    <image
      source="/hyperview/public/advanced/case-studies/photos/photos/concert.jpeg"
      style="image"
    />
    <image
      source="/hyperview/public/advanced/case-studies/photos/photos/dinner.jpeg"
      style="image"
    />
    <image source="/hyperview/public/advanced/case-studies/photos/photos/feet.jpeg" style="image" />
    <image
      source="/hyperview/public/advanced/case-studies/photos/photos/inspiration1.jpeg"
      style="image"
    />
    <image source="/hyperview/public/advanced/case-studies/photos/photos/salad.jpg" style="image" />
    <image source="/hyperview/public/advanced/case-studies/photos/photos/sign.jpeg" style="image" />
    <image source="/hyperview/public/advanced/case-studies/photos/photos/trev.jpeg" style="image" />
    <image
      source="/hyperview/public/advanced/case-studies/photos/photos/water.jpeg"
      style="image"
    />
  </view>
{% endblock %}
