---
permalink: "/behaviors/advanced/index.xml"
tags: "behavior_root"
hv_title: "Advanced"
hv_button_behavior: "back"
hv_list_tag: "advanced"
---
{% extends 'base.xml.njk' %}

{% block container %}
  {% include "list.xml.njk" %}
{% endblock %}
