---
permalink: "/ui/ui-elements/web-view/loading/index.xml"
tags: "UI/UI Elements/Web View"
hv_title: "Loading Indicator Tweaks"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{% block styles %}
  <style id="container" flexShrink="1" flex="1" />
{% endblock %}

{% block container %}
  <view style="container">
    <web-view url="https://hyperview.org/" show-loading-indicator="document-only" activity-indicator-color="#4778ff" />
  </view>
{% endblock %}
