<style
  id="link-text"
  color="#4778FF"
/>
<style
  id="link-container"
  borderColor="#4778FF"
  paddingHorizontal="8"
  paddingVertical="4"
  borderRadius="24"
  borderWidth="1"
  marginVertical="6"
  marginRight="6"
  justifyContent="center"
/>
