---
permalink: "/advanced/case-studies/business-rating/index.xml"
tags: "Advanced/Case Studies"
hv_title: "Rate by Business"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{% block styles %}
  {% include './_styles.xml.njk' %}
{% endblock %}

{% block container %}
  <view style="section">
    <view style="section-top">
      <text style="section-header">Instaworkers</text>
      <text style="section-action">
        Report Issue
      </text>
    </view>
    <list>
      <item
        action="new"
        delay="500"
        href="/hyperview/public/advanced/case-studies/business-rating/rating-modal/index.xml"
        key="a"
        show-during-load="loading-screen-modal"
        style="shift-item"
      >
        <image
          source="/hyperview/public/advanced/case-studies/business-rating/image.jpg"
          style="shift-item-avatar"
        />
        <view style="shift-item-info">
          <text style="shift-item-worker-name">Jake Tepperman</text>
          <text style="shift-item-details">
            7:00 PM - 1:00 AM - $116.80
          </text>
          <view style="rating-style">
            {% for i in range(1, 6) %}
              <image
                action="new"
                delay="500"
                href="/hyperview/public/advanced/case-studies/business-rating/rating-modal/index.xml?rating={{ i }}"
                show-during-load="loading-screen-modal"
                source="/hyperview/public/advanced/case-studies/business-rating/star_empty.png"
                style="rating-star"
              />
            {% endfor %}
          </view>
        </view>
      </item>
      <item
        action="new"
        delay="500"
        href="/hyperview/public/advanced/case-studies/business-rating/rating-modal/index.xml"
        key="b"
        show-during-load="loading-screen-modal"
        style="shift-item"
      >
        <image
          source="/hyperview/public/advanced/case-studies/business-rating/image.jpg"
          style="shift-item-avatar"
        />
        <view style="shift-item-info">
          <text style="shift-item-worker-name">Jake Tepperman</text>
          <text style="shift-item-details">
            7:00 PM - 1:00 AM - $116.80
          </text>
          <view style="rating-style">
            <view style="rating-style">
              {% for i in range(1, 6) %}
                <image
                  action="new"
                  delay="500"
                  href="/hyperview/public/advanced/case-studies/business-rating/rating-modal/index.xml?rating={{ i }}"
                  show-during-load="loading-screen-modal"
                  source="/hyperview/public/advanced/case-studies/business-rating/star_empty.png"
                  style="rating-star"
                />
              {% endfor %}
            </view>
          </view>
        </view>
      </item>
    </list>
  </view>
{% endblock %}
