---
title: "Event Dispatch"
permalink: "/ui_elements/web_views/dispatch_event/index.xml"
tags: webviews
---

{% extends 'base.xml.njk' %}
{% block styles %}
  <style id="Flex" flex="1" flexDirection="row" justifyContent="space-between"/>
  <style id="Main" flex="1"/>
{% endblock %}
{% block container %}
  <view style="Main">
    <view style="Flex">
      <web-view html="&lt;button style=&quot;font-size: 80px&quot;
        onClick=&quot;window.ReactNativeWebView.postMessage('hyperview:helloworld')&quot;&gt;Post message&lt;/button&gt;"/>
      <view
        action="append"
        event-name="helloworld"
        href="/ui_elements/web_views/dispatch_event/append.xml"
        scroll="true"
        style="Main"
        trigger="on-event"/>
    </view>
  </view>
{% endblock %}
