---
permalink: "/behaviors/basic/actions/replace-inner/once/replace_fragment_inner.xml"
---
{% from 'macros/button/index.xml.njk' import button %}

{{ button('Replaced inner!', {"xmlns":"https://hyperview.org/hyperview"}) }}
