---
permalink: "/advanced/community/elements/bottom-tabbar/tab-2.xml"
hv_title: "Tab Navigator - Tab 2"
hv_button_behavior: "back"
---
{% from 'macros/description/index.xml.njk' import description %}
{% from 'macros/button/index.xml.njk' import button %}
{% extends 'templates/base.xml.njk' %}

{% block container %}
  <view scroll="true">
    {{ description('This is the content for tab 2.') }}
    {% call button("Add notification to tab 2", attributes={id:"add-notification"}) -%}
      <behavior action="hide" target="add-notification" />
      <behavior action="show" target="remove-notification" />
      <behavior action="replace" target="bottom-tab-bar" href="/hyperview/public/advanced/community/elements/bottom-tabbar/tab-bar-notify-tab-2.xml" />
    {%- endcall %}
    {% call button("Remove notification from tab 2", attributes={id:"remove-notification", hide:"true"}) -%}
      <behavior action="reload" href="#" />
    {%- endcall %}
  </view>
  {% set selected_tab = 2 %}
  {% include "./tab-bar.xml.njk" %}
{% endblock %}
