---
permalink: "/advanced/community/elements/bottom-tabbar/tab-1.xml"
hv_title: "Tab Navigator - Tab 1"
hv_button_behavior: "back"
---
{% from 'macros/description/index.xml.njk' import description %}
{% extends 'templates/base.xml.njk' %}

{% block container %}
  <view scroll="true">
    {% block content %}
      {{ description('This is the content for tab 1.') }}
    {% endblock %}
    <behavior
      trigger="on-event"
      event-name="advanced/community/elements/bottom-tabbar/tab-1/reload"
      action="reload"
      href="/hyperview/public/advanced/community/elements/bottom-tabbar/tab-1-reloaded.xml"
    />
  </view>
  {% include './tab-bar.xml.njk' %}
{% endblock %}
