---
title: "Web Views"
permalink: "/ui_elements/web_views/index.xml"
tags: ui_elements
list_tag: webviews
---

{% extends 'base.xml.njk' %}
{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
