---
permalink: "/behaviors/advanced/dispatch/index.xml"
tags: "advanced"
hv_title: "Dispatch Event"
hv_button_behavior: "back"
---
{% extends 'scrollview.xml.njk' %}
{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{% block styles %}
  <style id="append" color="hotpink" fontSize="16" marginLeft="24"/>
{% endblock %}

{% block content %}
  <view
    action="append"
    event-name="test-event"
    href="/behaviors/advanced/dispatch/append-screen.xml"
    scroll="true"
    style="main"
    trigger="on-event">
    {{ description('Dispatch events to load screens') }}
    {% call button('Open new screen', attributes={href:"/behaviors/advanced/dispatch/source-screen.xml"}) -%}
      <behavior
        action="dispatch-event"
        event-name="test-event"
        trigger="press"
      />
    {%- endcall %}
  </view>
{% endblock %}
