<view style="comments">
  <text id="image1-num-likes" style="comments-likes">7 likes</text>
  <text
    action="prepend"
    href="/hyperview/public/advanced/case-studies/photos/more_comments.xml"
    style="comments-more"
    target="comments-image1"
  >
    View all 140 comments
  </text>
  <view id="comments-image1">
    <view style="comment">
      <text
        href="/hyperview/public/advanced/case-studies/photos/user/index.xml"
        style="comment-author"
      >
        og_worf
      </text>
      <text style="comment-content">hello!</text>
    </view>
    <view style="comment">
      <text
        href="/hyperview/public/advanced/case-studies/photos/user/index.xml"
        style="comment-author"
      >
        riker007
      </text>
      <text style="comment-content">hello!</text>
    </view>
    <view style="comment">
      <text
        href="/hyperview/public/advanced/case-studies/photos/user/index.xml"
        style="comment-author"
      >
        jean.luc.p
      </text>
      <text style="comment-content">hello!</text>
    </view>
  </view>
</view>
