{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{{ description('Press-in the button will replace the content.') }}
{% call button('Press me') -%}
  <behavior
    action="replace"
    href="/behaviors/basic/triggers/press-in/button-press-in/_replace_fragment.xml"
    trigger="pressIn"
  />
{%- endcall %}
