---
permalink: "/behaviors/basic/triggers/press-in/button-press-in/replace_fragment.xml"
---

{% from 'macros/button/index.xml.njk' import button %}

{{ button('Replaced!', {"xmlns":"https://hyperview.org/hyperview"}) }}
