<text style="description" id="link-to-replace">
  Press-out <text
    action="replace"
    href="/behaviors/basic/triggers/press-out/link/_replace_link_fragment.xml"
    trigger="pressOut"
    style="link"
    target="link-to-replace"
  >this link</text> will replace the content.
</text>
