---
permalink: "/ui/ui-elements/element-error-component/broken.xml"
hv_title: "Broken"
hv_button_behavior: "back"
---

<doc xmlns="https://hyperview.org/hyperview">
  <screen>
    <body>
      <text>Broken</text>
    </body>
  </screen>
</doc>
