{% from 'macros/description/index.xml.njk' import description %}

{{ description('Simple Select') }}
<select-multiple name="simple-select-multiple" style="select">
  <view style="select-separator"/>
  <option style="select-option" value="paid_parking">
    <text style="select-label">Paid parking</text>
    <view style="select-radio-outer">
      <view style="select-radio-inner"/>
    </view>
  </option>
  <view style="select-separator"/>
  <option style="select-option" value="free_parking">
    <text style="select-label">Free parking</text>
    <view style="select-radio-outer">
      <view style="select-radio-inner"/>
    </view>
  </option>
  <view style="select-separator"/>
  <option style="select-option" value="unknown_parking">
    <text style="select-label">Unknown</text>
    <view style="select-radio-outer">
      <view style="select-radio-inner"/>
    </view>
  </option>
  <view style="select-separator"/>
</select-multiple>
