---
title: "Web Views"
permalink: "/ui_elements/web_views/index.xml"
tags: ui_elements
list_tag: "ui_elements_web_views"
list_href: "/ui_elements/web_views/list.xml"
---
{% extends 'scrollview.xml.njk' %}

{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
