---
permalink: "/navigation/navigator/bottom-tabs/tab-1.xml"
hv_title: "Tab Navigator - Tab 1"
hv_button_behavior: "back"
---
{% from 'macros/description/index.xml.njk' import description %}
{% extends 'templates/base.xml.njk' %}

{% block container %}
  {{ description('This is the content for tab 1.') }}
  <footer>
    <select-single style="footer">
      <option
        selected="true"
        style="tab-bottom"
        value="custom-tab-1"
      >
        <behavior trigger="select" action="navigate" target="custom-tab-1" />
        <view style="tab-bottom-icon-selected">
          {% include 'icons/behaviors-selected.svg' %}
        </view>
        <view style="tab-bottom-icon">
          {% include 'icons/behaviors.svg' %}
        </view>
        <text style="tab-bottom-label">Tab 1</text>
      </option>
      <option
        style="tab-bottom"
        value="custom-tab-2"
      >
        <behavior trigger="select" action="navigate" target="custom-tab-2" />
        <view style="tab-bottom-icon-selected">
          {% include 'icons/advanced-selected.svg' %}
        </view>
        <view style="tab-bottom-icon">
          {% include 'icons/advanced.svg' %}
        </view>
        <text style="tab-bottom-label">Tab 2</text>
      </option>
    </select-single>
  </footer>
{% endblock %}
