<style id="scroll-container" borderColor="#e1e1e1" borderRadius="16" borderWidth="1" height="160" margin="24"/>
<style id="scroll-container-vertical" flexDirection="column"/>
<style id="scroll-container-horizontal" flexDirection="row"/>
<style
  id="scroll-child"
  backgroundColor="#63CB76"
  borderRadius="16"
  height="40"
  margin="8"
  alignItems="center"
  justifyContent="center"/>
<style id="scroll-child-vertical" height="40"/>
<style id="scroll-child-horizontal" width="40"/>
<style id="scroll-child-text" color="#ffffff" alignSelf="center" textAlign="center" fontSize="24"/>
