---
title: "Hyperview"
permalink: "index.xml"
list_tag: "root"
hide_back_button: true
list_href: "list.xml"
---
{% extends 'base.xml.njk' %}

{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
