---
title: "Hyperview navigation"
permalink: "index_navigator.xml"
---

{# Base template that should be used for all navigation screens #}
<doc xmlns="https://hyperview.org/hyperview">
  <navigator id="root-navigator" type="stack">
    <nav-route id="tab-route" href="/index_hxml.xml"/>
  </navigator>
</doc>
