---
title: "Hyperview"
permalink: "index_hyperview.xml"
list_tag: "root"
hide_back_button: true
list_href: "list.xml"
hyperview_toggle_enabled: true
---

{% extends 'base.xml.njk' %}
{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
