---
title: "Hyperview"
permalink: "index.xml"
hide_back_button: true
list_tag: "root"
---
<doc xmlns="https://hyperview.org/hyperview">
  <navigator id="stack-navigator" type="stack">
    <nav-route id="tabs">
        <navigator id="tabs-navigator" type="tab">
            <nav-route id="tab-ui" href="/ui.xml"/>
            <nav-route id="tab-navigation" href="/navigation.xml"/>
            <nav-route id="tab-behaviors" href="/behaviors.xml"/>
            <nav-route id="tab-case-studies" href="/case-studies.xml"/>
        </navigator>
    </nav-route>
  </navigator>
</doc>
