---
title: "Hyperview"
permalink: "index_hxml.xml"
list_tag: "root"
hide_back_button: true
list_href: "list.xml"
show_hxml_toggle: true
hxml_toggle_enabled: true
---

{% extends 'base.xml.njk' %}
{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
