---
title: "Client-side Search"
permalink: "/search.xml"
tags: search
---

{% extends 'base.xml.njk' %}
{% block styles %}
  <style
    id="input"
    borderBottomColor="#E1E1E1"
    borderBottomWidth="1"
    borderColor="#4E4D4D"
    flex="1"
    fontSize="16"
    fontWeight="normal"
    paddingBottom="8"
    paddingTop="8">
    <modifier pressed="true">
    <style borderBottomColor="green"/>
    </modifier>
    <modifier focused="true">
    <style borderBottomColor="#4778FF"/>
    </modifier>
  </style>
{% endblock %}
{% block container %}
  <form>
    <filter:container on-event="search" on-param="search-term" transform="lowercase" xmlns:filter="https://hyperview.org/filter">
      <list>
        <item key="field" style="Item">
          <text-field name="search-term" style="input" auto-focus="true" placeholder="Search">
            <behavior trigger="change" action="dispatch-event" event-name="search" />
          </text-field>
        </item>

        <item key="1" style="Item" filter:terms="Reagan Bennett,Reagan,Bennett,San Francisco,San,Francisco">
          <text style="Item__Label">Reagan Bennett</text>
          <text>San Francisco</text>
        </item>
        <item key="2" style="Item" filter:terms="Vicente Savage,Vicente,Savage,San,Jose,San Jose">
          <text style="Item__Label">Vicente Savage</text>
          <text>San Jose</text>
        </item>
        <item key="3" style="Item" filter:terms="Alanna,Powers,Burlingame">
          <text style="Item__Label">Alanna Powers</text>
          <text>Burlingame</text>
        </item>
        <item key="4" style="Item" filter:terms="Pablo,Hester">
          <text style="Item__Label">Pablo Hester</text>
        </item>
        <item key="5" style="Item" filter:terms="Sierra,Murphy">
          <text style="Item__Label">Sierra Murphy</text>
        </item>
        <item key="6" style="Item" filter:terms="Clark,Dawson">
          <text style="Item__Label">Clark Dawson</text>
        </item>
        <item key="7" style="Item" filter:terms="Marilyn,Reyes">
          <text style="Item__Label">Marilyn Reyes</text>
        </item>
        <item key="8" style="Item" filter:terms="Jerry,Wright">
          <text style="Item__Label">Jerry Wright</text>
        </item>
        <item key="9" style="Item" filter:terms="Madison,Peralta">
          <text style="Item__Label">Madison Peralta</text>
        </item>
        <item key="10" style="Item" filter:terms="Santos,Nelson">
          <text style="Item__Label">Santos Nelson</text>
        </item>
        <item key="11" style="Item" filter:terms="Nola,Woods">
          <text style="Item__Label">Nola Woods</text>
        </item>
        <item key="12" style="Item" filter:terms="Jeremy,Morton">
          <text style="Item__Label">Jeremy Morton</text>
        </item>
        <item key="13" style="Item" filter:terms="Ryann,Fowler">
          <text style="Item__Label">Ryann Fowler</text>
        </item>
        <item key="14" style="Item" filter:terms="Alfred,Santiago">
          <text style="Item__Label">Alfred Santiago</text>
        </item>
        <item key="15" style="Item" filter:terms="Rebekah,Acosta">
          <text style="Item__Label">Rebekah Acosta</text>
        </item>
        <item key="16" style="Item" filter:terms="Tobias,Russell">
          <text style="Item__Label">Tobias Russell</text>
        </item>
        <item key="17" style="Item" filter:terms="Harmony,Rocha">
          <text style="Item__Label">Harmony Rocha</text>
        </item>
        <item key="18" style="Item" filter:terms="Shawn,Bond">
          <text style="Item__Label">Shawn Bond</text>
        </item>
        <item key="19" style="Item" filter:terms="Malaysia,Campos">
          <text style="Item__Label">Malaysia Campos</text>
        </item>
        <item key="20" style="Item" filter:terms="Barrett,Li">
          <text style="Item__Label">Barrett Li</text>
        </item>
      </list>
    </filter:container>
  </form>
{% endblock %}
