<style
  id="footer"
  alignItems="stretch"
  borderTopColor="#eee"
  borderTopWidth="1"
  bottom="0"
  flexDirection="column"
  flexShrink="1"
  flexGrow="0"
  height="96"
  justifyContent="space-around"
  backgroundColor="white"
  position="absolute"
  width="100%"
/>
<style
  id="footer-row"
  alignItems="center"
  flexDirection="row"
  flexGrow="1"
  justifyContent="space-around"
/>
<style
  id="top-tabs"
  alignItems="stretch"
  backgroundColor="#f5f6ff"
  borderBottomColor="#e1e6ff"
  borderBottomWidth="1"
  flexDirection="row"
  width="100%"
/>
<style
  id="top-tab"
  alignItems="center"
  backgroundColor="#f5f6ff"
  flex="1"
  justifyContent="center"
  paddingVertical="10"
/>
<style
  id="top-tab-link"
  alignItems="stretch"
  flex="1"
/>
<style
  id="top-tab-selected"
  backgroundColor="#dbe6ff"
/>
<style
  id="top-tab-label"
  color="#111318"
  fontSize="14"
  fontWeight="bold"
  lineHeight="18"
  textAlign="center"
/>
<style
  id="top-tab-label-selected"
  color="#2c5dff"
/>
<style
  id="bottom-tab"
  alignItems="center"
  flex="1"
  justifyContent="center"
/>
<style
  id="bottom-tab-label"
  color="#cccccc"
  fontSize="14"
  fontWeight="bold"
/>
<style
  id="bottom-tab-label-selected"
  color="#4778FF"
/>
<style
  id="bottom-tab-icon"
  height="24"
  width="24"
/>
