{% from 'macros/button/index.xml.njk' import button %}

{{ button('Press me again...', {"action": "replace", "href":"/behaviors/basic/actions/replace/twice/_replace_fragment3.xml", "xmlns":"https://hyperview.org/hyperview"}) }}
