{% from 'macros/button/index.xml.njk' import button %}

{{ button('Replaced! Again...', {"action": "replace", "href":"/behaviors/basic/actions/replace/twice/_replace_fragment2.xml", "xmlns":"https://hyperview.org/hyperview"}) }}
