{% from 'macros/button/index.xml.njk' import button %}

{% call button('Press me again...', {"xmlns":"https://hyperview.org/hyperview"}) -%}
  <behavior
    action="replace"
    href="/behaviors/basic/actions/replace/twice/_replace_fragment3.xml"
  />
{%- endcall %}
