{% from 'macros.nj' import button, description, link, container %}

{{ button('Press me again...', {"action": "replace", "href":"/behaviors/basic/actions/replace/twice/_replace_fragment3.xml", "xmlns":"https://hyperview.org/hyperview"}) }}
