{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{{ description('In this example, the replaced element also has an href, which now requests a different XML fragment.') }}
{{ button('Press me', {action: "replace", href:"/behaviors/basic/actions/replace/twice/_replace_fragment2.xml"}) }}
