---
permalink: "/behaviors/basic/index.xml"
tags: "behavior_root"
hv_title: "Basic"
hv_button_behavior: "back"
hv_list_tag: "basic"
---
{% extends 'base.xml.njk' %}

{% block container %}
  {% include "list.xml.njk" %}
{% endblock %}
