---
permalink: "/behaviors/basic/index.xml"
tags: "behavior_root"
hv_title: "Basic"
hv_button_behavior: "back"
hv_section_list_tag: "Actions,Triggers,Target,Indicators,Fragments,Once"
---
{% extends 'base.xml.njk' %}

{% block container %}
  {% include "section-list.xml.njk" %}
{% endblock %}
