---
permalink: "/behaviors/basic/index.xml"
hv_title: "Basic"
hv_button_behavior: "back"
---

{% set hv_section_list_tag = "Actions,Triggers,Target,Indicators,Fragments,Once" %}
{% include "templates/section-list.xml.njk" %}
