---
title: "Forms"
permalink: "/ui_elements/forms/index.xml"
tags: ui_elements
list_tag: "ui_elements_forms"
list_href: "/ui_elements/forms/list.xml"
---
{% extends 'scrollview.xml.njk' %}

{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
