<style
  id="button"
  backgroundColor="#63CB76"
  borderRadius="16"
  flex="1"
  flexDirection="row"
  justifyContent="center"
  margin="24"
  padding="24"
/>
<style id="button-disabled" backgroundColor="#bdc4c4" />
<style id="button-label" color="white" fontSize="24" fontWeight="bold" />
<style id="button-serialize-title" fontSize="16" marginHorizontal="24" marginTop="24" />
<style id="button-serialize-data" backgroundColor="lightgrey" marginHorizontal="24" marginTop="8" padding="16" />
