{% from 'macros/link/index.xml.njk' import link %}

{% call link('Clear all') -%}
  <behavior action="set-value" new-value="" target="id_tf"/>
  <behavior action="set-value" new-value="" target="id_ta"/>
  <behavior action="set-value" new-value="" target="id_pf"/>
  <behavior action="set-value" new-value="" target="id_ss"/>
  <behavior action="set-value" new-value="" target="id_df"/>
  <behavior action="set-value" new-value="off" target="id_s"/>
{%- endcall %}
