{% from 'macros/description/index.xml.njk' import description %}

{{ description('Flex Vertical Justify Center Align End') }}
<view style="flex-container flex-vertical flex-vertical-large flex-justify-center flex-align-end">
  <view style="flex-child"/>
  <view style="flex-child"/>
  <view style="flex-child"/>
</view>
