---
permalink: "/ui/index.xml"
hv_title: "UI"
hv_tab_id: "ui"
---
{% extends 'templates/root.xml.njk' %}

{% block root %}
  <doc xmlns="https://hyperview.org/hyperview">
    <navigator id="ui-nested-tabs" type="tab">
      <nav-route
        id="ui-elements-route"
        href="/hyperview/public/ui/ui-elements.xml"
      />
      <nav-route
        id="styling-route"
        href="/hyperview/public/ui/styling.xml"
      />
    </navigator>
  </doc>
{% endblock %}
