---
permalink: "/ui/index.xml"
hv_title: "UI"
hv_tab_id: "ui"
hv_button_behavior: "none"
---
{% extends 'templates/tab-route.xml.njk' %}
{% from 'macros/tab/index.xml.njk' import tab, tab_bar %}

{% block tab_route_content %}{% endblock %}
