{% from 'macros.nj' import button, description, link, container %}

{{ description('Tapping the button below will copy the value "Hello World" to the clipboard.') }}

{% call button('Copy to clipboard') -%}
  <behavior
    action="copy-to-clipboard"
    trigger="press"
    copy-to-clipboard-value="Hello World"
  />
{%- endcall %}
