---
permalink: "/advanced/community/elements/top-tabbar/tab-3.xml"
hv_title: "Tab Navigator - Tab 3"
hv_button_behavior: "back"
---
{% from 'macros/description/index.xml.njk' import description %}
{% from 'macros/tabbar-top/index.xml.njk' import tabbar_top %}
{% extends 'templates/base.xml.njk' %}

{% block container %}
  {{ tabbar_top([
  {id: "custom-top-tabs-tab-1", label: "Tab 1"},
  {id: "custom-top-tabs-tab-2", label: "Tab 2"},
  {id: "custom-top-tabs-tab-3", label: "Tab 3", selected: true}
  ]) }}
  <view scroll="true">
    {{ description('This is the content for tab 3.') }}
  </view>
{% endblock %}
