---
permalink: "/behaviors/basic/refresh/index.xml"
tags: "Triggers"
hv_title: "Refresh"
hv_button_behavior: "back"
---
{% extends 'base.xml.njk' %}
{% import 'macros.nj' as macros %}


{% block container %}
  {{ macros.description('Pull to refresh on the button will replace the content.') }}
  {{ macros.button('Refresh me!', attributes={
    action: "replace-inner",
    href: "/behaviors/basic/triggers/refresh/_replace_inner_fragment.xml",
    trigger: "refresh"
  }) }}
{% endblock %}
