{% from 'macros/description/index.xml.njk' import description %}

{% call description() -%}
  Deselecting an option prepends content below the container. Notice
  that clicking a deselected option does nothing, deselect only triggers
  when a selected option is deselected.
{%- endcall %}


<select-single name="choice" style="select">
  <view style="select-separator" />
  <option
    action="prepend"
    href="#option1Selected"
    style="select-option"
    target="container1"
    trigger="deselect"
    value="option1"
  >
    <text style="select-label">Option 1</text>
    <view style="select-radio-outer">
      <view style="select-radio-inner" />
    </view>
  </option>
  <view style="select-separator" />
  <option
    action="prepend"
    href="#option2Selected"
    style="select-option"
    target="container1"
    trigger="deselect"
    value="option2"
  >
    <text style="select-label">Option 2</text>
    <view style="select-radio-outer">
      <view style="select-radio-inner" />
    </view>
  </option>
  <view style="select-separator" />
  <option
    action="prepend"
    href="#option3Selected"
    style="select-option"
    target="container1"
    trigger="deselect"
    value="option3"
  >
    <text style="select-label">Option 3</text>
    <view style="select-radio-outer">
      <view style="select-radio-inner" />
    </view>
  </option>
  <view style="select-separator" />
</select-single>
<view id="container1" style="container-style" />
<view hide="true">
  <text id="option1Selected">Option 1 deselected</text>
  <text id="option2Selected">Option 2 deselected</text>
  <text id="option3Selected">Option 3 deselected</text>
</view>
