{% from 'macros/link/index.xml.njk' import link %}

<text style="section">Text fields</text>
<view style="form-group">
  <text style="label" hide="true" id="id_tf_loading">Loading...</text>
  <text-field id="id_tf" name="tf" placeholder="Text field" placeholderTextColor="#8D9494" style="input"/>
  <view style="select-container">
    {% call link('Set value to "Test"') -%}
      <behavior action="set-value" new-value="Test" target="id_tf" />
    {%- endcall %}
    {% call link('Clear value') -%}
      <behavior action="set-value" new-value="" target="id_tf" />
    {%- endcall %}
  </view>
</view>
