<text style="section">Text fields</text>
<view style="form-group">
  <text style="label" hide="true" id="id_tf_loading">Loading...</text>
  <text-field id="id_tf" name="tf" placeholder="Text field" placeholderTextColor="#8D9494" style="input"/>
  <text style="link" action="set-value" new-value="Test" target="id_tf">
    Set value to "Test"
  </text>
  <text style="link" action="set-value" new-value="" target="id_tf">
    Clear value
  </text>
</view>
