---
title: "Navigator"
permalink: "/navigator/index.xml"
tags: hvroot
list_tag: navigator
list_href: "/navigator/list.xml"
---

{% extends 'base.xml.njk' %}
{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
