---
permalink: "/behaviors/basic/toggle/index.xml"
tags: "Behaviors/Basic/Actions"
hv_title: "Toggle"
hv_button_behavior: "back"
---
{% extends 'templates/scrollview.xml.njk' %}

{% block styles %}
  {% include './tap/_styles.xml.njk' %}
  {% include './spinner/_styles.xml.njk' %}
{% endblock %}

{% block content %}
  {% include './_tap/index.xml.njk' %}
  {% include './_delay/index.xml.njk' %}
  {% include './_spinner/index.xml.njk' %}
  {% include './_multiple/index.xml.njk' %}
{% endblock %}
