---
permalink: "/navigator/simple-stack/index.xml"
tags: navigator
hv_title: "Simple Stack Navigator"
hv_button_behavior: "back"
---

{# Example of a simple stack navigator #}
<doc xmlns="https://hyperview.org/hyperview">
  <navigator id="simple-stack-navigator" type="stack">
    <nav-route id="simple-screen-route" href="/hyperview/public/navigator/simple-stack/screen.xml"/>
  </navigator>
</doc>
