---
permalink: "/behaviors/basic/triggers/press-out/button-press-out/replace_fragment.xml"
---

{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{{ button('Replaced!', {"xmlns":"https://hyperview.org/hyperview"}) }}
