<view style="form-group">
  <text style="label">Basic</text>
  <text-field
    style="text-field-basic"
    name="basic-text-field"
    placeholder="Placeholder"
    placeholderTextColor="#8D9494"
    selectionColor="#4778FF"
    selectionHandleColor="#4778FF"
    cursorColor="#4778FF"
    value=""
  />
</view>
