<style
  id="text-field-basic"
  borderBottomColor="#E1E1E1"
  borderBottomWidth="1"
  flex="1"
  fontSize="16"
  fontWeight="normal"
  paddingVertical="8"
>
  <modifier pressed="true">
  <style borderBottomColor="#4778FF"/>
  </modifier>
  <modifier focused="true">
  <style borderBottomColor="#4778FF"/>
  </modifier>
</style>
