<style
  id="container-style"
  borderColor="#e1e1e1"
  borderRadius="16"
  borderWidth="2"
  margin="24"
  padding="24"
/>
<style
  id="container-label"
  color="black"
  fontSize="16"
  fontWeight="normal"
/>
