{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{{ description('Hide can work with the delay attribute. In this example, the hide will be delayed 1 second.') }}

{% call button('Hide with Delay') -%}
  <behavior action="hide" target="hide2-content" delay="1000" />
{%- endcall %}
<text id="hide2-content" style="hide">Content to be hidden</text>
