{% from 'macros/description/index.xml.njk' import description %}

{{ description('Custom') }}
<select-multiple name="custom-select-multiple" style="select-custom">
  <option style="select-custom-option" value="paid_parking">
    <view style="select-custom-image-wrapper">
      <image
        source="/hyperview/public/ui/ui-elements/forms/select-multiple/unselected.png"
        style="select-custom-image select-custom-image-unselected"/>
      <image
        source="/hyperview/public/ui/ui-elements/forms/select-multiple/selected.png"
        style="select-custom-image select-custom-image-selected"/>
    </view>
    <text style="select-custom-label">Paid parking</text>
  </option>
  <option selected="true" style="select-custom-option" value="free_parking">
    <view style="select-custom-image-wrapper">
      <image
        source="/hyperview/public/ui/ui-elements/forms/select-multiple/unselected.png"
        style="select-custom-image select-custom-image-unselected"/>
      <image
        source="/hyperview/public/ui/ui-elements/forms/select-multiple/selected.png"
        style="select-custom-image select-custom-image-selected"/>
    </view>
    <text style="select-custom-label">Free parking</text>
  </option>
  <option style="select-custom-option" value="unknown_parking">
    <view style="select-custom-image-wrapper">
      <image
        source="/hyperview/public/ui/ui-elements/forms/select-multiple/unselected.png"
        style="select-custom-image select-custom-image-unselected"/>
      <image
        source="/hyperview/public/ui/ui-elements/forms/select-multiple/selected.png"
        style="select-custom-image select-custom-image-selected"/>
    </view>
    <text style="select-custom-label">Unknown</text>
  </option>
</select-multiple>
