---
permalink: "/behaviors/basic/press/index.xml"
tags: "Triggers"
hv_title: "Press"
hv_button_behavior: "back"
---
{% extends 'scrollview.xml.njk' %}

{% block content %}
  {% include './button/index.xml.njk' %}
  {% include './link/index.xml.njk' %}
{% endblock %}
