---
title: "Dismiss keyboard on drag"
permalink: "/ui/elements/sectionlist/dismiss_keyboard_on_drag/index.xml"
tags: sectionlist
---

{% extends 'base.xml.njk' %}
{% block styles %}
  <style
    id="list-header"
    alignItems="center"
    backgroundColor="#eee"
    flex="1"
    flexDirection="row"
    height="48"
    paddingLeft="24"
    paddingRight="24"
    marginHorizontal="24"/>
  <style id="list-header-text" fontSize="18" fontWeight="bold"/>
  <style
    id="input"
    borderBottomColor="#E1E1E1"
    borderBottomWidth="1"
    borderColor="#4E4D4D"
    flex="1"
    fontSize="16"
    fontWeight="normal"
    paddingBottom="8"
    paddingTop="8">
    <modifier pressed="true">
    <style borderBottomColor="green"/>
    </modifier>
    <modifier focused="true">
    <style borderBottomColor="#4778FF"/>
    </modifier>
  </style>
{% endblock %}
{% block container %}
  <section-list keyboard-dismiss-mode="on-drag">
    <item key="field" style="item">
      <text-field name="field" style="input" auto-focus="true" placeholder="Scroll!" />
    </item>
    <section-title style="list-header">
      <text style="list-header-text">Section 1</text>
    </section-title>
    <item key="1" style="item">
      <text style="item-label">Item 1</text>
    </item>
    <item key="2" style="item">
      <text style="item-label">Item 2</text>
    </item>
    <item key="3" style="item">
      <text style="item-label">Item 3</text>
    </item>
    <item key="4" style="item">
      <text style="item-label">Item 4</text>
    </item>
    <item key="5" style="item">
      <text style="item-label">Item 5</text>
    </item>
    <item key="6" style="item">
      <text style="item-label">Item 6</text>
    </item>
    <item key="7" style="item">
      <text style="item-label">Item 7</text>
    </item>
    <item key="8" style="item">
      <text style="item-label">Item 8</text>
    </item>
    <item key="9" style="item">
      <text style="item-label">Item 9</text>
    </item>
    <item key="10" style="item">
      <text style="item-label">Item 10</text>
    </item>
    <section-title style="list-header">
      <text style="list-header-text">Section 2</text>
    </section-title>
    <item key="11" style="item">
      <text style="item-label">Item 11</text>
    </item>
    <item key="12" style="item">
      <text style="item-label">Item 12</text>
    </item>
    <item key="13" style="item">
      <text style="item-label">Item 13</text>
    </item>
    <item key="14" style="item">
      <text style="item-label">Item 14</text>
    </item>
    <item key="15" style="item">
      <text style="item-label">Item 15</text>
    </item>
    <item key="16" style="item">
      <text style="item-label">Item 16</text>
    </item>
    <item key="17" style="item">
      <text style="item-label">Item 17</text>
    </item>
    <item key="18" style="item">
      <text style="item-label">Item 18</text>
    </item>
    <item key="19" style="item">
      <text style="item-label">Item 19</text>
    </item>
    <item key="20" style="item">
      <text style="item-label">Item 20</text>
    </item>
  </section-list>
{% endblock %}
