---
title: "Section list"
permalink: "/ui_elements/sectionlist/index.xml"
tags: ui_elements
list_tag: "ui_elements_sectionlist"
list_href: "/ui_elements/sectionlist/list.xml"
---
{% extends 'scrollview.xml.njk' %}

{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
