---
title: "Section List"
permalink: "/ui_elements/sectionlist/index.xml"
tags: ui_elements
list_tag: sectionlist
---

{% extends 'base.xml.njk' %}
{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
