---
permalink: "/backend/advanced/community/bottom-sheet/index.xml"
tags: "Advanced/Community/Elements"
hv_button_behavior: "back"
hv_title: "Bottom Sheet"
---

{% extends 'templates/scrollview.xml.njk' %}

{% from 'macros/button/index.xml.njk' import button %}

{% block styles %}
  <style id="bottom-sheet" backgroundColor="#fff" padding="24" />
  <style id="bottom-sheet-handle"
    alignSelf='center'
    backgroundColor='gray'
    borderRadius="25"
    height="4"
    marginVertical="15"
    width="75"
  />
  <style id="bottom-sheet-overlay" backgroundColor='#2f2f2f' opacity="0.6" />
  <style id="bottom-sheet-header-padding" padding="50" />
  {%include './_users/styles.xml.njk' %}
{% endblock %}

{% block content %}
  {%include './_default/index.xml.njk' %}
  {%include './_stop-points/index.xml.njk' %}
  {%include './_content-sections/index.xml.njk' %}
  {%include './_scrolling/index.xml.njk' %}
  {%include './_users/index.xml.njk' %}
{% endblock %}
