{% from 'macros/description/index.xml.njk' import description %}

{{ description('Horizontal Scroll') }}
<view scroll="true" scroll-orientation="horizontal" style="ScrollContainer ScrollContainer--Horizontal">
  <view style="ScrollChild ScrollChild--Horizontal"/>
  <view style="ScrollChild ScrollChild--Horizontal"/>
  <view style="ScrollChild ScrollChild--Horizontal"/>
  <view style="ScrollChild ScrollChild--Horizontal"/>
  <view style="ScrollChild ScrollChild--Horizontal"/>
  <view style="ScrollChild ScrollChild--Horizontal"/>
  <view style="ScrollChild ScrollChild--Horizontal"/>
</view>
