---
permalink: "/ui/ui-elements/web-view/injected-js/index.xml"
tags: "UI/UI Elements/Web View"
hv_title: "Injected Javascript"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}

{% block styles %}
  <style id="container" flexShrink="1" flex="1" />
{% endblock %}

{% block container %}
  <view style="container">
    <web-view url="https://hyperview.org/" injected-java-script="alert('Hello world!')"/>
  </view>
{% endblock %}
