---
permalink: "/navigation/navigator/stack/modal-2.xml"
hv_title: "Modal Screen 2"
hv_button_behavior: "back"
---
{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}
{% extends 'templates/scrollview.xml.njk' %}

{% block content %}
  {{ description('This screen was dynamically opened as a modal.') }}
  {% call button('Back to beginning') -%}
    <behavior
      action="close"
    />
  {%- endcall %}
{% endblock %}
