---
permalink: "/navigation/navigator/stack/push-2.xml"
hv_title: "Push Screen 2"
hv_button_behavior: "back"
---
{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}
{% extends 'templates/scrollview.xml.njk' %}

{% block content %}
  {{ description('This screen was dynamically pushed on the stack.') }}
  {% call button('Back to beginning') -%}
    <behavior
      action="navigate"
      href="#simple-screen-route"
    />
  {%- endcall %}
{% endblock %}
