
{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

{{ description('Radius') }}
{{ button('Hello', attributes={style:"button button-shadow button-big-radius"}) }}
