
{% from 'macros/button/index.xml.njk' import button %}

{{ button('Press me again...', {"action": "replace-inner", "href":"/behaviors/basic/actions/replace-inner/nested/_replace_fragment_inner2.xml", "xmlns":"https://hyperview.org/hyperview"}) }}
