---
permalink: "/behaviors/basic/actions/replace-inner/nested/replace_fragment_inner2.xml"
---
{% from 'macros/button/index.xml.njk' import button %}

{% call button('Press me again...', {"xmlns":"https://hyperview.org/hyperview"}) -%}
  <behavior
    action="replace-inner"
    href="/hyperview/public/behaviors/basic/actions/replace-inner/nested/replace_fragment_inner2.xml"
  />
{%- endcall %}
