{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

<view style="form-group">
  <text style="label">Validation error</text>
  <date-field
    field-style="input input-error"
    field-text-style="input-text input-text-error"
    label-format="MMMM D, YYYY"
    modal-overlay-style="picker-modal-overlay"
    modal-style="picker-modal"
    modal-text-style="picker-modal-text"
    name="validation-error-date"
    placeholder="Select date"
    placeholderTextColor="#8D9494"
  />
  <text style="help help-error">Please select a date</text>
</view>
