---
permalink: "/case-studies/advanced-forms/index.xml"
tags: "case_studies"
hv_title: "Advanced Forms"
hv_button_behavior: "back"
---
{% extends 'scrollview.xml.njk' %}

{% block styles %}
  {% include './styles.xml.njk' %}
{% endblock %}

{% block content %}
  {% include './parking/index.xml.njk' %}
  {% include './location/index.xml.njk' %}
  {% include './food/index.xml.njk' %}
{% endblock %}
