---
permalink: "/navigator/custom_tabbar/tabbar.xml"
---

<doc xmlns="https://hyperview.org/hyperview">
  <screen>
    <styles>
      {% include '../../_includes/styles.xml.njk' %}
    </styles>
    <body>
      <view id="Footer" style="Footer">
        <view
          style="Bottom_Tab"
          href-style="Bottom_Tab"
          action="navigate"
          target="tab-1"
        >
          <image
            source="/navigator/custom_tabbar/heart2.png"
            style="Bottom_Tab__Icon "
          />
          <text style="Bottom_Tab__Label">Tab 1</text>
        </view>
        <view
          style="Bottom_Tab"
          href-style="Bottom_Tab"
          action="navigate"
          target="tab-2"
        >
          <image
            source="/navigator/custom_tabbar/list2.png"
            style="Bottom_Tab__Icon "
          />
          <text style="Bottom_Tab__Label">Tab 2</text>
        </view>
      </view>
    </body>
  </screen>
</doc>
