---
title: "button"
permalink: "/styling/button.xml"
tags: styling
---
{% extends 'scrollview.xml.njk' %}

{% block content %}
  <text style="description">Regular</text>
  <view action="reload" href="/styling/button.xml" style="button">
    <text style="bottom-label">Hello</text>
  </view>
  <text style="description">Disabled</text>
  <view style="button button-disabled">
    <text style="bottom-label">Disabled</text>
  </view>
  <text style="description">Shadow</text>
  <view action="reload" href="/styling/button.xml" style="button button-shadow">
    <text style="bottom-label">Shadow</text>
  </view>
{% endblock %}
