---
title: "Elevation"
permalink: "/styling/elevation.xml"
tags: styling
---

{% extends 'scrollview.xml.njk' %}
{% block content %}
  <text style="description">
    Elevation styling only works on Android. For iOS, use shadow styles.
  </text>
  <text style="description">Elevation: 3</text>
  <view style="button button-elevation3">
    <text style="bottom-label">Hello</text>
  </view>
  <text style="description">Elevation: 10</text>
  <view style="button button-elevation10">
    <text style="bottom-label">Hello</text>
  </view>
{% endblock %}
