---
title: "Styling"
permalink: "/styling/index.xml"
tags: ui_root
list_tag: "styling"
list_href: "list.xml"
---

{% extends 'base.xml.njk' %}
{% block container %}
  {% include "list.xml.njk" %}
{% endblock %}
