---
permalink: "/behaviors/basic/target-sibling/index.xml"
tags: "Target"
hv_title: "Target Sibling"
hv_button_behavior: "back"
---
{% extends 'scrollview.xml.njk' %}
{% import 'macros.nj' as macros %}

{% block content %}
  {{ macros.description('Tapping the button below will request an XML fragment and replace the sibling element below.') }}
  {% call macros.button('Press me') -%}
    <behavior
      action="replace"
      href="/behaviors/basic/_target_sibling_fragment.xml"
      target="container"
    />
  {%- endcall %}
  {{ macros.container('Waiting...', attributes={id:"container"}) }}
{% endblock %}
