{% macro tabbar_bottom(navigator) %}
  <navigation:bottom-tab-bar
    xmlns:navigation="https://hyperview.org/navigation"
    navigation:navigator="{{ navigator }}"
  >
    <view style="tabbar-bottom" key="tabbar-bottom">
      {% if caller %}
        {{ caller() }}
      {% endif %}
    </view>
  </navigation:bottom-tab-bar>
{% endmacro %}
