<style
  id="tabbar-bottom"
  alignItems="stretch"
  borderTopColor="#eee"
  borderTopWidth="1"
  flexDirection="row"
  flexShrink="1"
  flexGrow="0"
  justifyContent="space-around"
  backgroundColor="white"
  width="100%"
/>
