---
permalink: "/ui/ui-elements/list/keyboard-persist-tap/index.xml"
tags: "UI/UI Elements/List"
hv_title: "Keyboard Persist Tap"
hv_button_behavior: "back"
---
{% extends 'templates/base.xml.njk' %}
{% from 'macros/text-field/index.xml.njk' import text_field %}

{% block container %}
  <list keyboard-should-persist-taps="handled">
    <item key="field" style="item">
      {{ text_field("field", {"auto-focus":"true", "placeholder":"Tap!"}) }}
    </item>
    {% for i in range(1, 21) %}
      <item key="{{ i }}" style="item{% if loop.last %} item-last{% endif %}">
        <text style="item-label">List {{ i }}</text>
        <behavior
          xmlns:alert="https://hyperview.org/hyperview-alert"
          trigger="press"
          action="alert"
          alert:title="List {{ i }} selected"
        >
          <alert:option alert:label="Cancel" />
        </behavior>
      </item>
    {% endfor %}
  </list>
{% endblock %}
