{% import 'macros.nj' as macros %}

{{ macros.description('In this example, the replaced element also has a replace-inner action, allowing for a nested interaction.') }}
{{ macros.button('Press me', {action: "replace-inner", href:"/behaviors/basic/replace-inner/nested/_replace_fragment_inner2.xml"}) }}
