---
permalink: "/navigation/behaviors/actions/back/index.xml"
tags: "Navigation/Behaviors/Actions"
hv_title: "Back"
hv_button_behavior: "back"
---
{% extends 'templates/scrollview.xml.njk' %}

{% block content %}
  {% include './_previous-screen/index.xml.njk' %}
  {% include './_different-screen/index.xml.njk' %}
  {% include './_loading/index.xml.njk' %}
{% endblock %}
