---
permalink: "/advanced/index.xml"
hv_title: "Advanced"
hv_tab_id: "advanced"
hv_button_behavior: "none"
---
{% extends 'templates/tab-route.xml.njk' %}
{% from 'macros/tab/index.xml.njk' import tab, tab_bar %}

{% block tab_route_content %}{% endblock %}
