---
title: "View"
permalink: "/ui/elements/view/index.xml"
tags: elements
---

{% extends 'scrollview.xml.njk' %}
{% block styles %}
  <style id="border" borderColor="#e1e1e1" borderWidth="1" flex="1" margin="24" padding="8"/>
  <style id="styled" backgroundColor="#63CB76" borderRadius="16" height="40"/>
  <style id="Flex" flex="1" flexDirection="row" justifyContent="space-between"/>
  <style id="flex-child" width="40"/>
{% endblock %}
{% block content %}
  <text style="description">View</text>
  <view style="border"/>
  <text style="description">Nested Views</text>
  <view style="border">
    <view style="border">
      <view style="border"/>
    </view>
  </view>
  <text style="description">Styled</text>
  <view style="border styled"/>
  <text style="description">Flex</text>
  <view style="border Flex">
    <view style="flex-child styled"/>
    <view style="flex-child styled"/>
    <view style="flex-child styled"/>
  </view>
{% endblock %}
