---
permalink: "/navigation/index.xml"
hv_title: "Navigation"
hv_tab_id: "tab-navigation"
hv_button_behavior: "none"
---
{% extends 'templates/tab.xml.njk' %}

{% block tab_content %}
  <text style="description">This is the content for Navigation tab.</text>
{% endblock %}
