<style
  id="form-group"
  flex="1"
  marginLeft="24"
  marginRight="24"
  marginTop="24"
/>
<style
  id="input"
  borderBottomColor="#E1E1E1"
  borderBottomWidth="1"
  borderColor="#4E4D4D"
  flex="1"
  fontSize="16"
  fontWeight="normal"
  paddingBottom="8"
  paddingTop="8"
>
  <modifier focused="true">
  <style borderBottomColor="#4778FF" />
  </modifier>
</style>
<style id="input-error" borderBottomColor="#FF4847" color="#FF4847">
  <modifier focused="true">
  <style borderBottomColor="#FF4847" />
  </modifier>
</style>
<style
  id="label"
  borderColor="#4E4D4D"
  fontSize="16"
  fontWeight="bold"
  lineHeight="24"
  marginBottom="8"
/>
<style
  id="help"
  borderColor="#FF4847"
  fontSize="16"
  fontWeight="normal"
  lineHeight="24"
  marginTop="16"
/>
<style id="help-error" color="#FF4847" />
<style
  id="submit"
  color="#4778FF"
  fontSize="16"
  fontWeight="bold"
  lineHeight="24"
  marginLeft="24"
  marginTop="16"
/>
<style id="spacer" height="200" />
