---
permalink: "/behaviors/basic/press-out/index.xml"
tags: "Triggers"
hv_title: "Press Out"
hv_button_behavior: "back"
---
{% extends 'scrollview.xml.njk' %}

{% block content %}
  {% include './button-press-out/index.xml.njk' %}
  {% include './link/index.xml.njk' %}
{% endblock %}
