{% from 'macros/link/index.xml.njk' import link %}

{% call link("Clear all with indicator") -%}
  <behavior action="set-value" new-value="" target="id_tf" delay="500" show-during-load="id_tf_loading"/>
  <behavior action="set-value" new-value="" target="id_ta" delay="1000" show-during-load="id_ta_loading"/>
  <behavior action="set-value" new-value="" target="id_ss" delay="1500" show-during-load="id_ss_loading"/>
  <behavior action="set-value" new-value="" target="id_pf" delay="2000" show-during-load="id_pf_loading"/>
  <behavior action="set-value" new-value="" target="id_df" delay="2500" show-during-load="id_df_loading"/>
  <behavior action="set-value" new-value="off" target="id_s" delay="3000" show-during-load="id_s_loading"/>
{%- endcall %}
