---
title: "List With Sticky Items"
permalink: "/ui/elements/list/sticky_items/index.xml"
tags: list
---

{% extends 'base.xml.njk' %}
{% block styles %}{% endblock %}
{% block container %}
  <list>
    {% for i in range(1, 21) %}
      <item key="{{ i }}" style="item" {% if i == 2 or i == 4 %}sticky="true"{% endif %}>
        <text style="item-label">Item {{ i }} {% if i == 2 or i == 4 %}(sticky){% endif %}</text>
      </item>
    {% endfor %}
  </list>
{% endblock %}
