---
permalink: "/behaviors/basic/visible-once/index.xml"
tags: "Triggers"
hv_title: "Visible Once"
hv_button_behavior: "back"
---
{% extends 'scrollview.xml.njk' %}
{% import 'macros.nj' as macros %}

{% block styles %}
  <style id="spacer" flex="1" height="1024" />
  <style
    id="button"
    backgroundColor="#63CB76"
    borderRadius="16"
    flex="1"
    flexDirection="column"
    justifyContent="center"
    alignItems="center"
    margin="24"
    padding="24"
  />
{% endblock %}

{% block content %}
  {{ macros.description('Scrolling down to the button will append to the button content. Subsequent views will not trigger another append.') }}
  <view style="spacer" />
  {% call macros.button('Scroll to me') -%}
    <behavior
      action="append"
      once="true"
      href="/behaviors/basic/visible/_append_fragment.xml"
      trigger="visible"
    />
  {%- endcall %}
{% endblock %}
