{% from 'macros/description/index.xml.njk' import description %}

{{ description('Flex Horizontal Justify Center Align End') }}
<view style="flex-container flex-horizontal flex-horizontal-large flex-justify-center flex-align-end">
  <view style="flex-child"/>
  <view style="flex-child"/>
  <view style="flex-child"/>
</view>
