---
permalink: "/behaviors/basic/actions/prepend/prepend-once/prepend_fragment.xml"
---
{% from 'macros/button/index.xml.njk' import button %}

{{ button('Prepended!', {"xmlns":"https://hyperview.org/hyperview"}) }}
