---
title: "Advanced Behaviors"
permalink: "/advanced_behaviors/index.xml"
tags: root
list_tag: advanced_behaviors
---
{% extends 'base.xml.njk' %}

{% block container %}
  {% include "./list.xml.njk" %}
{% endblock %}
