---
title: "Basic"
permalink: "/ui/elements/text/basic.xml"
tags: text
---

{% extends 'scrollview.xml.njk' %}
{% block styles %}
  <style id="Text" fontSize="24" margin="24"/>
{% endblock %}
{% block content %}
  <text style="Text">Hello, world!</text>
{% endblock %}
