---
title: "Escaped"
permalink: "/ui/elements/text/escaped.xml"
tags: text
---

{% extends 'scrollview.xml.njk' %}
{% block styles %}
  <style id="Text" fontSize="24" margin="24"/>
{% endblock %}
{% block content %}
  <text style="Text">
    <![CDATA[Escaped with <![CDATA[]>:
    <hello>
      <world>]]></text>
{% endblock %}
