---
title: "Selectable"
permalink: "/ui/elements/text/selectable.xml"
tags: text
---

{% extends 'scrollview.xml.njk' %}
{% block styles %}
  <style id="Text" fontSize="24" margin="24"/>
{% endblock %}
{% block content %}
  <text style="Text" selectable="true">Select me!</text>
{% endblock %}
