---
permalink: "/advanced/community/elements/bottom-tabbar-many/tab-5.xml"
hv_title: "Many Tabs - Settings"
hv_button_behavior: "back"
tab_id: 5
---
{% extends 'templates/base.xml.njk' %}

{% block body_attrs %}scroll="true"{% endblock %}

{% block body %}
  {% include 'templates/many-tab-body.xml.njk' %}
{% endblock %}
