---
title: "Picker"
permalink: "/ui/elements/forms/picker/index.xml"
tags: forms
---

{% extends 'scrollview.xml.njk' %}
{% block styles %}
  <style id="label" borderColor="#4E4D4D" fontSize="16" fontWeight="bold" lineHeight="24" marginBottom="8"/>
  <style id="input-custom-text" color="purple" fontSize="18" fontWeight="600"/>
  <style
    id="picker-modal"
    backgroundColor="white"
    borderTopColor="#E1E1E1"
    borderTopWidth="1"
    shadowOffsetX="0"
    shadowOffsetY="-5"
    shadowOpacity="0.2"
    shadowRadius="5"/>
  <style id="picker-modal-custom" backgroundColor="purple" borderTopColor="#E1E1E1" borderTopWidth="1"/>
  <style
    id="Input"
    borderBottomColor="#E1E1E1"
    borderBottomWidth="1"
    borderColor="#4E4D4D"
    flex="1"
    fontSize="16"
    fontWeight="normal"
    paddingBottom="8"
    paddingTop="8">
    <modifier pressed="true">
    <style borderBottomColor="#4778FF"/>
    </modifier>
    <modifier focused="true">
    <style borderBottomColor="#4778FF"/>
    </modifier>
  </style>
  <style id="help-error" color="#FF4847"/>
  <style id="input-text-error" color="#FF4847"/>
  <style id="form-group" flex="1" marginLeft="24" marginRight="24" marginTop="48"/>
  <style
    id="picker-modal-overlay"
    backgroundColor="#1f1f1fa0"
  />
  <style id="picker-modal-text" color="blue" fontSize="16" fontWeight="600" marginBottom="16" padding="24">
    <modifier pressed="true">
    <style opacity="0.5"/>
    </modifier>
  </style>
  <style id="input-text" fontSize="16" fontWeight="normal"/>
  <style id="input-error" borderBottomColor="#FF4847">
    <modifier focused="true">
    <style borderBottomColor="#FF4847"/>
    </modifier>
  </style>
  <style
    id="input-custom"
    borderColor="#4E4D4D"
    borderRadius="4"
    borderWidth="2"
    flex="1"
    fontWeight="normal"
    marginBottom="40"
    paddingBottom="8"
    paddingLeft="8"
    paddingRight="8"
    paddingTop="8">
    <modifier pressed="true">
    <style borderColor="#4778FF"/>
    </modifier>
    <modifier focused="true">
    <style borderColor="#4778FF"/>
    </modifier>
  </style>
  <style id="help" borderColor="#FF4847" fontSize="16" fontWeight="normal" lineHeight="24" marginTop="16"/>
  <style id="picker-modal-custom-text" color="white" fontSize="20" fontWeight="600" padding="24" paddingBottom="0">
    <modifier pressed="true">
    <style color="yellow"/>
    </modifier>
  </style>
{% endblock %}
{% block content %}
  <view scroll="true" style="main">
    <form>
      <text style="description">
        Picker fields open a system-appropriate modal to choose a single value from a list of options. On iOS, styles can be
        applied to the modal and save/cancel labels.
      </text>
      <view style="form-group">
        <text style="label">Default picker field</text>
        <picker-field
          field-style="Input"
          field-text-style="input-text"
          modal-overlay-style="picker-modal-overlay"
          modal-style="picker-modal"
          modal-text-style="picker-modal-text"
          name="picker1"
          placeholder="Select choice"
          placeholderTextColor="#8D9494">
          <picker-item label="Choice 0" value="0"/>
          <picker-item label="Choice 1" value="1"/>
          <picker-item label="Choice 2" value="2"/>
          <picker-item label="Choice 3" value="3"/>
          <picker-item label="Choice 4" value="4"/>
          <picker-item label="Choice 5" value="5"/>
          <picker-item label="Choice 6" value="6"/>
        </picker-field>
      </view>
      <view style="form-group">
        <text style="label">Filled picker field</text>
        <picker-field
          field-style="Input"
          field-text-style="input-text"
          modal-overlay-style="picker-modal-overlay"
          modal-style="picker-modal"
          modal-text-style="picker-modal-text"
          name="picker2"
          placeholder="Select choice"
          placeholderTextColor="#8D9494"
          value="3">
          <picker-item label="Choice 0" value="0"/>
          <picker-item label="Choice 1" value="1"/>
          <picker-item label="Choice 2" value="2"/>
          <picker-item label="Choice 3" value="3"/>
          <picker-item label="Choice 4" value="4"/>
          <picker-item label="Choice 5" value="5"/>
          <picker-item label="Choice 6" value="6"/>
        </picker-field>
      </view>
      <view style="form-group">
        <text style="label">De-selectable picker field</text>
        <picker-field
          field-style="Input"
          field-text-style="input-text"
          modal-overlay-style="picker-modal-overlay"
          modal-style="picker-modal"
          modal-text-style="picker-modal-text"
          name="picker3"
          placeholder="Select choice"
          placeholderTextColor="#8D9494"
          value="3">
          <picker-item label="No choice" value=""/>
          <picker-item label="Choice 0" value="0"/>
          <picker-item label="Choice 1" value="1"/>
          <picker-item label="Choice 2" value="2"/>
          <picker-item label="Choice 3" value="3"/>
          <picker-item label="Choice 4" value="4"/>
          <picker-item label="Choice 5" value="5"/>
          <picker-item label="Choice 6" value="6"/>
        </picker-field>
      </view>
      <view style="form-group">
        <text style="label">Validation error</text>
        <picker-field
          field-style="Input input-error"
          field-text-style="input-text input-text-error"
          modal-overlay-style="picker-modal-overlay"
          modal-style="picker-modal"
          modal-text-style="picker-modal-text"
          name="picker4"
          placeholder="Select choice"
          placeholderTextColor="#8D9494">
          <picker-item label="Choice 0" value="0"/>
          <picker-item label="Choice 1" value="1"/>
          <picker-item label="Choice 2" value="2"/>
          <picker-item label="Choice 3" value="3"/>
          <picker-item label="Choice 4" value="4"/>
          <picker-item label="Choice 5" value="5"/>
          <picker-item label="Choice 6" value="6"/>
        </picker-field>
        <text style="help help-error">Please select a choice</text>
      </view>
      <view style="form-group">
        <text style="label">Filled validation error</text>
        <picker-field
          field-style="Input input-error"
          field-text-style="input-text input-text-error"
          modal-overlay-style="picker-modal-overlay"
          modal-style="picker-modal"
          modal-text-style="picker-modal-text"
          name="picker5"
          placeholder="Select choice"
          placeholderTextColor="#8D9494"
          value="3">
          <picker-item label="Choice 0" value="0"/>
          <picker-item label="Choice 1" value="1"/>
          <picker-item label="Choice 2" value="2"/>
          <picker-item label="Choice 3" value="3"/>
          <picker-item label="Choice 4" value="4"/>
          <picker-item label="Choice 5" value="5"/>
          <picker-item label="Choice 6" value="6"/>
        </picker-field>
        <text style="help help-error">Please select a different choice</text>
      </view>
      <view style="form-group">
        <text style="label">Customized animation durations (iOS only)</text>
        <picker-field
          field-style="Input"
          field-text-style="input-text"
          modal-overlay-style="picker-modal-overlay"
          modal-style="picker-modal"
          modal-text-style="picker-modal-text"
          modal-animation-duration="400"
          modal-overlay-animation-duration="400"
          modal-dismiss-animation-duration="200"
          modal-dismiss-overlay-animation-duration="200"
          name="picker5"
          placeholder="Select choice"
          placeholderTextColor="#8D9494"
          value="3">
          <picker-item label="Choice 0" value="0"/>
          <picker-item label="Choice 1" value="1"/>
          <picker-item label="Choice 2" value="2"/>
          <picker-item label="Choice 3" value="3"/>
          <picker-item label="Choice 4" value="4"/>
          <picker-item label="Choice 5" value="5"/>
          <picker-item label="Choice 6" value="6"/>
        </picker-field>
      </view>
      <view style="form-group">
        <text style="label">Customized</text>
        <picker-field
          cancel-label="Nevermind"
          done-label="Set choice"
          field-style="input-custom"
          field-text-style="input-custom-text"
          modal-overlay-style="picker-modal-overlay"
          modal-style="picker-modal-custom"
          modal-text-style="picker-modal-custom-text"
          name="picker6"
          placeholder="Select choice"
          placeholderTextColor="#8D9494">
          <picker-item label="Choice 0" value="0"/>
          <picker-item label="Choice 1" value="1"/>
          <picker-item label="Choice 2" value="2"/>
          <picker-item label="Choice 3" value="3"/>
          <picker-item label="Choice 4" value="4"/>
          <picker-item label="Choice 5" value="5"/>
          <picker-item label="Choice 6" value="6"/>
        </picker-field>
        <view style="button" href="/ui/elements/forms/picker.xml">
          <text style="bottom-label">Serialize</text>
        </view>
      </view>
    </form>
  </view>
{% endblock %}
