{# Included as a loading screen in other templates #}
<screen id="loading-screen">
  {% include 'templates/styles.xml.njk' %}
  <body style="body" safe-area="true">
    {% include 'templates/header.xml.njk' %}
    <view style="loading">
      <text style="loading-text">Loading…</text>
      <spinner/>
    </view>
  </body>
</screen>
