{% extends 'templates/base.xml.njk' %}
{% from 'macros/tab-bottom/index.xml.njk' import tab_bottom %}
{% from 'macros/tabbar-bottom/index.xml.njk' import tabbar_bottom %}

{% block container %}
  <view style="tab-route-content">
    {% block tab_route_content %}{% endblock %}
  </view>
  {% call tabbar_bottom("tabs-navigator") -%}
    {{ tab_bottom("ui", "UI", hv_tab_id == "ui") }}
    {{ tab_bottom("behaviors", "Behaviors", hv_tab_id == "behaviors") }}
    {{ tab_bottom("navigation", "Navigation", hv_tab_id == "navigation") }}
    {{ tab_bottom("advanced", "Advanced", hv_tab_id == "advanced") }}
  {%- endcall %}
{% endblock %}
