{% from 'macros/button/index.xml.njk' import button %}
{% from 'macros/description/index.xml.njk' import description %}

<view style="form-group">
  <text style="label">Customized animation durations (iOS only)</text>
  <date-field
    field-style="input"
    field-text-style="input-text"
    label-format="MMMM D, YYYY"
    modal-overlay-style="picker-modal-overlay"
    modal-style="picker-modal"
    modal-text-style="picker-modal-text"
    modal-animation-duration="400"
    modal-overlay-animation-duration="400"
    modal-dismiss-animation-duration="200"
    modal-dismiss-overlay-animation-duration="200"
    name="animations-date"
    placeholder="Select date"
    placeholderTextColor="#8D9494"
    value="2018-03-07"
  />
</view>
