---
title: "Section List"
permalink: "/ui/elements/sectionlist/index.xml"
tags: elements
list_tag: sectionlist
---

{% extends 'base.xml.njk' %}
{% block container %}
  {% include "list.xml.njk" %}
{% endblock %}
