---
permalink: "/navigation/behaviors/actions/reload/reloaded.xml"
hv_title: "Reload - Updated"
hv_button_behavior: "back"
---
{% extends 'templates/scrollview.xml.njk' %}
{% from 'macros/description/index.xml.njk' import description %}
{% from 'macros/button/index.xml.njk' import button %}

{% block content %}
  {{ description('Changed Screen') }}
{% endblock %}
